/*
 * _button-nav.scss
 * Button Nav Variables
 * Author: J.Pitt
 * Last updated: 31st August 2014
 */

/*
 * Generic Button Nav Vars
 */
$nav-button-text-weight:                              300;
$nav-button-text-size:                                12px;
$nav-button-text-line-height:                         13px;
$nav-button-text-color:                               #333;
$nav-button-text-border-width:                        2px;
$nav-button-text-border-color:                        transparent;
$nav-button-icon-color:                               #a7a6a5;
$nav-button-breakpoint:                               1150px, 'no-query' true;

// Search Button Nav Vars
$nav-button-search-top-position:                      10px;

// Hover state
$nav-button-text-hover-color:                         darken($nav-button-text-color, 5%);

// Active State
$nav-button-text-active-color:                        #333;

// Selected state
$nav-button-text-selected-color:                      #000;

// Hover State
$nav-button-icon-hover-color:                         $nav-button-text-hover-color;
$nav-button-icon-active-color:                        $nav-button-text-active-color;
$nav-button-icon-selected-color:                      #a4a3a2;

/*
 * Touch Menu Toggle Button
 */
$nav-touch-button-background-color:                   transparent;
$nav-touch-button-icon-color:                         #a4a3a2;

// Search
$nav-touch-button-search-top-position-sm:             20px;

// Active State
$nav-touch-button-background-active-color:            darken(#f9f9f9, 5%);
$nav-touch-button-icon-active-color:                  darken($nav-touch-button-icon-color, 5%);

// Expanded/Selected
$nav-touch-button-background-expanded-color:          #f9f9f9;
$nav-touch-button-icon-expanded-color:                $nav-touch-button-icon-color;

// Expanded/Selected Active State
$nav-touch-button-background-expanded-active-color:   darken(#f9f9f9, 5%);
$nav-touch-button-icon-expanded-active-color:         darken($nav-touch-button-icon-color, 5%);


/*
 * Normal Button Sizes
 */
$nav-button-size:                                     36px;

/*
 * Touch Button Sizes
 */
$nav-touch-button-size-xs:                            40px;
$nav-touch-button-size-sm:                            58px;
$nav-touch-button-size-md:                            $nav-touch-button-size-sm;

// Search
$nav-touch-button-search-top-position:                12px;
