/*
 * _esu-header.scss
 * ESU Site Header Settings
 * Author: J.Pitt
 * Last updated: 7th September 2014
 */
$esu-header-width-xs : 100%;
$esu-header-breakpoint : 1151px, 'no-query' true;
$esu-header-width : 320px;
$esu-header-form-width : 260px;
$esu-header-animation-max-height : 400px;
$esu-header-transition-fade-in-duration : 180ms;
$esu-header-transition-fade-in-duration-no-touch : 50ms;
$esu-header-content-padding-sides : 30px;
$esu-header-content-padding : 0 $esu-header-content-padding-sides 30px;
$esu-header-title-padding : 27px 24px 14px;
$esu-header-btn-width :  60px;
$esu-header-input-width : $esu-header-width - (2*$esu-header-content-padding-sides) - $esu-header-btn-width;
$esu-header-input-font-size : 13px;
$esu-header-close-color: $white-brand;
$esu-header-close-color-hover : $grey-brand;
$esu-header-close-font-size : 42px;

// No Touch
$esu-header-no-touch-background-color : $black-brand;
$esu-header-no-touch-text-color : $white-brand;

// Touch
$esu-header-touch-background-color : #f9f9f9;
$esu-header-touch-text-color : $grey-v-dark;