/*
 * _bg-color.scss
 * Background Color Component
 * Author: J.Pitt
 * Last updated: 11th September 2014
 */

/*doc
---
title: BG Colors
name: BG Colors
category: Utilities
---

The bg-color component allows you to add a background color to any element on the site via a class.

See the examples below.

### BG Color Classes

  Classes to use                 |             Example of use                    |  HTML              
 ------------------------------- | --------------------------------------------- | -------------------------------------------- 
 <br>.bg-color--pink  | <div class="bg-color--pink">Content/images</div>  |  `<div class="bg-color--pink">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--pink-dark  | <div class="bg-color--pink-dark">Content/images</div>  |  `<div class="bg-color--pink-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--pink-v-dark  | <div class="bg-color--pink-v-dark">Content/images</div>  |  `<div class="bg-color--pink-v-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--orange  | <div class="bg-color--orange">Content/images</div>  |  `<div class="bg-color--orange">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--orange-dark  | <div class="bg-color--orange-dark">Content/images</div>  |  `<div class="bg-color--orange-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--orange-v-dark  | <div class="bg-color--orange-v-dark">Content/images</div>  |  `<div class="bg-color--orange-v-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--red  | <div class="bg-color--red">Content/images</div>  |  `<div class="bg-color--red">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--red-dark  | <div class="bg-color--red-dark">Content/images</div>  |  `<div class="bg-color--red-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--red-v-dark  | <div class="bg-color--red-v-dark">Content/images</div>  |  `<div class="bg-color--red-v-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--purple  | <div class="bg-color--purple">Content/images</div>  |  `<div class="bg-color--purple">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--purple-dark  | <div class="bg-color--purple-dark">Content/images</div>  |  `<div class="bg-color--purple-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--purple-v-dark  | <div class="bg-color--purple-v-dark">Content/images</div>  |  `<div class="bg-color--purple-v-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--blue  | <div class="bg-color--blue">Content/images</div>  |  `<div class="bg-color--blue">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--blue-dark  | <div class="bg-color--blue-dark">Content/images</div>  |  `<div class="bg-color--blue-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--blue-v-dark  | <div class="bg-color--blue-v-dark">Content/images</div>  |  `<div class="bg-color--blue-v-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--aqua  | <div class="bg-color--aqua">Content/images</div>  |  `<div class="bg-color--aqua">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--aqua-dark  | <div class="bg-color--aqua-dark">Content/images</div>  |  `<div class="bg-color--aqua-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--aqua-v-dark  | <div class="bg-color--aqua-v-dark">Content/images</div>  |  `<div class="bg-color--aqua-v-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--green  | <div class="bg-color--green">Content/images</div>  |  `<div class="bg-color--green">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--green-dark  | <div class="bg-color--green-dark">Content/images</div>  |  `<div class="bg-color--green-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--green-v-dark  | <div class="bg-color--green-v-dark">Content/images</div>  |  `<div class="bg-color--green-v-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--yellow  | <div class="bg-color--yellow">Content/images</div>  |  `<div class="bg-color--yellow">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--yellow-dark  | <div class="bg-color--yellow-dark">Content/images</div>  |  `<div class="bg-color--yellow-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--yellow-v-dark  | <div class="bg-color--yellow-v-dark">Content/images</div>  |  `<div class="bg-color--yellow-v-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--white  | <div class="bg-color--white">Content/images</div>  |  `<div class="bg-color--white">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--grey-v-light  | <div class="bg-color--grey-v-light">Content/images</div>  |  `<div class="bg-color--grey-v-light">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--grey-light  | <div class="bg-color--grey-light">Content/images</div>  |  `<div class="bg-color--grey-light">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--grey  | <div class="bg-color--grey">Content/images</div>  |  `<div class="bg-color--grey">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--grey-dark  | <div class="bg-color--grey-dark">Content/images</div>  |  `<div class="bg-color--grey-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--grey-v-dark  | <div class="bg-color--grey-v-dark">Content/images</div>  |  `<div class="bg-color--grey-v-dark">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--black  | <div class="bg-color--black">Content/images</div>  |  `<div class="bg-color--black">`<br>`Content/images`<br>`</div>`
*/

/** 
 * Process $bgColorList colour variations through our bg-color-variations mixin.
 *
 * see 
 *  - ../variables/components/_bg-color.scss for colour variations - $bgColorList.
 *  - ../mixins/components/_bg-color.scss for the mixin that applies the colour variation classes.
 */
@include bg-color-variations($bgColorList);
