/*
 * _bg-color--kids.scss
 * Kids Background Color Component
 * Author: J.Wang
 * Last updated: 28th January 2015
 */

/*doc
---
title: Kids BG Colors
name: Kids BG Colors
category: Utilities
---

The bg-color component allows you to add a background color to any element on the site via a class.

See the examples below.

### BG Color Classes

  Classes to use                 |             Example of use                    |  HTML              
 ------------------------------- | --------------------------------------------- | -------------------------------------------- 
 <br>.bg-color--kids-purple  | <div class="bg-color--kids-purple">Content/images</div>  |  `<div class="bg-color--kids-purple">`<br>`Content/images`<br>`</div>`
 <br>.bg-color--kids-blue-dark  | <div class="bg-color--kids-blue-dark">Content/images</div>  |  `<div class="bg-color--kids-blue-dark">`<br>`Content/images`<br>`</div>`
*/

/** 
 * Process $bgKidsColorList colour variations through our bg-color-kids-variations mixin.
 *
 * see 
 *  - ../variables/components/_bg-color--kids.scss for colour variations - $bgColorList.
 *  - ../mixins/components/_bg-color.scss for the mixin that applies the colour variation classes.
 */
@include bg-color-kids-variations($bgKidsColorList);
