/*
 * _cookie-banner.scss
 * Cookie Banner Styling
 * Author: P.Brady
 * Last updated: 12th September 2014
 */

// Styles for the Cookie banner content area.
.cookie-banner__content {
  padding: 10px 50px;
  color: $white-brand;
  text-align: center;
  position: relative;
}

// Style for the Cookie banner close/agree button.
.cookie-banner__agree-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  .cookie-banner__agree {
    height: 48px;
    width: 48px;
    overflow: hidden;
    background: none;
    border: 0;
    text-decoration: none;
    outline: none;
    &:before {
      color: $white-brand;       // IE8 fix
      font-family: 'rnd-icons';  // IE8 fix
      content:"\e60c";           // IE8 fix
      font-size: $cookie-banner-agree-size;
    }
    &:hover:before {
      color: $grey-brand;
    }
    &:focus {
      outline: none;
    }
  }
}

// Small (sm) breakpoint
// Adjust the size of the X button
@include breakpoint($screen-sm) {
  .cookie-banner__agree-wrapper {
    .cookie-banner__agree {
      height: $cookie-banner-agree-size-sm;
      width: $cookie-banner-agree-size-sm;
      &:before {
        font-size: $cookie-banner-agree-size-sm;
      }
    }
  }
}

// Medium (md) breakpoint
// Adjust the size of the X button
@include breakpoint($screen-md) {
  .cookie-banner__agree-wrapper {
    .cookie-banner__agree {
      height: $cookie-banner-agree-size-md;
      width: $cookie-banner-agree-size-md;
      &:before {
        font-size: $cookie-banner-agree-size-md;
      }
    }
  }
}