/*
 * _donate.scss
 * Form component donate styles
 * Author: M.Wagg
 * Last updated: 8th January 2015
 */

/**
 * Specific Donate form styling
 */

/**
 * Money Buys
 *
 * All breakpoints
 */
.pane-bundle-donate-money-buy {
  cursor: pointer;
}

.pane-bundle-donate-money-buy:hover .money-buy__amount {
  background-color: $red-v-dark;
}

.money-buy__image {
  position: relative;
  .money-buy__amount {
    background-color: $red-brand;
    border: 4px solid $grey-v-light;
    bottom: 0px;
    @include border-radius(50%);
    color: $white-brand;
    display: block;
    height: $circle-height;
    left: $circle-left;
    padding-top: $circle-padding;
    position: absolute;
    width: $circle-width;
    span {
      bottom: 0;
      font-size: $circle-font-size;
      left: 0;
      line-height: $circle-line-height;
      padding: $circle-padding;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.money-buy__text {
  padding-top: $money-buy-text;
}

.money-buy {
  h2 {
    padding-top: $money-buy-row-title-padding-top;
  }
  .form-type-radio label:before {
    background-color: $white-brand;
  }
  .money-buy__row-bottom {
    padding-top: 0;
    .parsley-error-list {
      li {
        list-style: none;
        padding-top: $error-message-top;
        text-align: center;
      }
    }
  }
  .money-buy__row-top {
    padding-bottom: 0;
    padding-top: $money-buy-row-top-padding;
  }
  .money-buy__donate-amount {
    padding-top: $money-buy-amount-padding;
  }
  .cr-donate-currency {
    padding-top: $money-buy-currency-padding;
  }
}

.money-buy-buttons {
  padding-top: $money-buy-buttons;
}

.money-buy-buttons__button-padding {
  padding-bottom: $money-buy-buttons;
}

/**
 * Small breakpoint
 */
@include breakpoint($screen-sm) {
  .money-buy__image {
    .money-buy__amount {
      bottom: 0px;
      height: $circle-height-sm;
      left: $circle-left-sm;
      width: $circle-width-sm;
      span {
        font-size: $circle-font-size-sm;
      }
    }
  }
}


/**
 * Medium breakpoint
 */
@include breakpoint($screen-md) {
  .money-buy-buttons__button-padding {
    padding-bottom: 0;
  }
  .money-buy__image {
    .money-buy__amount {
      span {
        font-size: $circle-font-size-md;
      }
    }
  }
}

/**
 * Large breakpoint
 */
@include breakpoint($screen-lg) {
  .money-buy__image {
    .money-buy__amount {
      span {
        font-size: $circle-font-size-lg;
      }
    }
  }
}

.money-buy-buttons__button {
  width: 100%;
}

/**
 * To enable use of pane-image__wrapper--multiple-images as these are not 'image pnaes'
 */
.pane-image__wrapper--multiple-images {
  .pane-donate-money-buy {
    padding-bottom: 0;
    padding-top: $money-buy-image-top-xs;
  }
}

/**
 * Small breakpoint
 */
@include breakpoint($screen-sm) { 
  .pane-image__wrapper--multiple-images .pane-donate-money-buy { 
    padding-bottom: 0;
    padding-top: $money-buy-image-top-xs;
  }
}

/**
 * Giftaid
 *
 * Default 
 */
.giftaid {
  label.option {
    display: inline-block;
  }
}

.giftaid__title-image {
  background: image-url($title-image-xs-sm);
  height: $title-image-xs-sm-height;
  width: $title-image-xs-sm-width;
}

%image-replacement-hide-text {
  margin: 0 auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.giftaid__title-text {
  @extend %image-replacement-hide-text;
}

.giftaid {
  .form-item-MC-permission-giftaid {
    padding-top: $checkbox-padding;
  }
  .description {
    padding-top: $description-padding;
  }
}

/**
 * Medium breakpoint
 */
@include breakpoint($screen-md) {
  .giftaid__title-image {
    background: image-url($title-image-md-lg);
    height: $title-image-md-lg-height;
    width: $title-image-md-lg-width;
  }
}

/**
 * Payment
 * 
 * For all breakpoints
 */
.payment {
  .payment__title {
    padding-bottom: $payment-title;
  }
}
.payment__card {
  .form-type-radios {
    padding-top: $payment-card-padding;
    label {
      display: inline;
    }
  }
  .form-type-radio {
    height: $payment-radio-height;
    position: relative;
    label:after, 
    input[type=radio]:checked + label:after {
      color: $black-brand;
      display: block;
      left: 0;// to override from main _form.scss
      line-height: 0;// to override from main _form.scss
      margin: 0 auto;
      position: relative;
      top: $payment-radio-checked;
    }
    label:before {
      background-color: $white-brand;
      left: 0;// to override from main _form.scss
      margin: 0 auto;
      position: relative;
      top: $payment-radio;
    }
    label .payment__card-image {
      background-image: image-url($payment-cards);
      display: block;
      height: $payment-radio-image-height;
      margin: 0 auto;
      top: $payment-radio-image-top;
      position: relative;
      width: $payment-radio-image-width;
    }
    label .payment__card-amex {
      background-position: $payment-amex-pos;
    }
    label .payment__card-jcb {
      background-position: $payment-jcb-pos;
    }
    label .payment__card-mscd {
      background-position: $payment-mscd-pos;
    }
    label .payment__card-dmc {
      background-position: $payment-dmc-pos;
    }
    label .payment__card-maes {
      background-position: $payment-maes-pos;
    }
    label .payment__card-visa {
      background-position: $payment-visa-pos;
    }
    label .payment__card-visd {
      background-position: $payment-visd-pos;
    }
    label .payment__card-vied {
      background-position: $payment-vied-pos;
    }
  }
}

/**
 * Medium breakpoint
 */
@include breakpoint($screen-md) {
  .payment__card {
    border-right: 1px solid $grey-light;
    position: relative;
    .payment__card-or {
      background-color: $grey-v-light;
      display: block;
      height: $payment-card-or-height;
      padding-top: $payment-card-or-padding;
      position: absolute;
      right: $payment-card-or-right;
      top: $payment-card-or-top;
      width: $payment-card-or-width;
    }
  }
}

.payment__paypal {
  padding-top: $paypal-padding-sm;
  input[type="submit"] {
    background-image: image-url($paypal-logo);
    background-color: $grey-v-light;
    display: block;
    height: $paypal-logo-height;
    min-height: 0;// to override from main _form.scss
    padding: 0;// to override from main _form.scss
    width: $logo-width;
  }
  input[type="submit"]:hover {
    background-color: $grey-v-light;
  }
  input[type="submit"].button {
    @extend %image-replacement-hide-text;
    margin-top: $paypal-margin-sm;
  }
}

.payment__pingit {
  padding-top: $paypal-padding-sm;
  .payment__pingit-image {
    background: image-url($title-pingit-image);
    height: $paypal-logo-height;
    margin-top: $paypal-margin-sm;
    width: $logo-width;
  }
  .payment__pingit-hide-text {
    @extend %image-replacement-hide-text;
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

/**
 * Medium breakpoint
 */
@include breakpoint($screen-md) {
  .payment__paypal {
    padding-top: 0;
    input[type="submit"].button {
      margin-top: $paypal-margin-md;
    }
  }
}

/**
 * Billing Details
 * 
 * For all breakpoints
 */
%postcode {
  display: inline-block;
}

.form-item-postcode {
  @extend %postcode;
  margin-right: $postcode-margin;
  width: $postcode-width;
  input[name=postcode] {
    border-right: none;
  }
  &:focus {
    border-right: none;
  }
  .parsley-error-list {
    position: absolute;
    top: $postcode-error;
  }
}

.cr-plus-lookup-wrapper {
  @extend %postcode;
  color: $postcode-btn-text-color;
  width: $postcode-btn;
}

.cr-plus-lookup-wrapper input {
  background-color: $postcode-btn-color;
  border: none;
  padding: 0;
}

.cr-plus-manual-wrapper {
  margin-top: $address-lookup;
  text-align: center;
}

.form-item-address-select {
  margin-top: $address-lookup;
}

.cr-plus-lookup {
  margin-top: $postcode-btn-margin;
  min-height: $postcode-btn-height;
}

.cr-plus-manual {
  color: $text-link-color;
  text-decoration: underline;
}

.billing {
  .form-required {
    line-height: $form-required-line-height;
  }
  .dk-select-options {
    max-height: $form-dropdown;
    overflow: auto;
  }
}

.billing__copy {
  padding-bottom: $billing-copy-padding-bottom;
}

/**
 * Subscribe/keep me posted
 * 
 * For all breakpoints
 */
.subscribe__type-padding {
  padding-bottom: $subscribe-type-padding;
}

.subscribe {
  label.option {
    display: inline-block;
  }
  label:before {
    background-color: $white-brand;
  }
}

 /**
 * Donate Partners
 * 
 * For all breakpoints
 */
.page-donate-donate-partners .donate-partners__logo {
  background-image: image-url($donate-partner-image);
}
