/*
 * _form--pre-order-kit.scss
 * Pre-Order Fundraising Kit order form-specific form items tweaks
 * Author: A.Phipps
 * Last updated: 26th May 2015
 */

.preorder--type {
  p {
    margin: 10px 0 30px 0;
  }

  label {
    text-align: center;
  }
}

.preorder-section {

  .description, label {
    line-height: 21px;
  }

  ul.dk-select-options {
    max-height: 200px;
    overflow-y: scroll;
  }

  .messages.error.messages-inline {
    margin: -14px 0 14px 0;
  }
}

.preorder--school-details .form-type-cr-eddirect-establishment {

  & > label {
    display: none;
  }

  label[for="edit-submitted-postcode-lookup-establishment-lookup"] {
    text-align: center;
  }
  
  .description {
    margin-top: 20px;
    text-align: center;
  }

  a.establishment-manual {
    color: inherit;
  }
}

.preorder--checkboxes {
  
  label.option {
    display: inline-block;
  }

  .webform-component-checkboxes {
    margin-bottom:0;
  }

  .messages.error.messages-inline {
    margin: -21px 0 21px 36px;
  }
}