/*
 * _interstitial-age-check.scss
 * Interstitial Age Check Styling
 * Author: J.Pitt
 * Last updated: 30th December 2014
 */

/**
 * Main Component
 * 
 * .interstitial--age-check
 */

/**
 * Question Component
 */
.interstitital__question-form {
  > input {
    width: 120px;
    float: left;
    text-align: center;
    margin-bottom: 20px;
  }
  label {
    float: left;
    line-height: 50px;
    color: $white-brand;
    padding: 0 0 0 10px;
  }
  .interstitital__btn-submit {
    clear: both;
  }
}

/**
 * Prompt Buttons
 */
.interstitial__prompt .interstitital__btn {
  .btn {
    padding-left: 0;
    padding-right: 0;
    display: block;
  }
  .btn + .btn {
    margin-top: 20px;
  }
}

/**
 * Small and larger breakpoints
 */
@include breakpoint($screen-sm) {
  .interstitital__question-form {
    > input {
      margin-bottom: 0;
    }
    .interstitital__btn-submit {
      clear: none;
      float: right;
    }
  }
  .interstitial__prompt .interstitital__btn {
    .btn {
      padding-left: 22px;
      padding-right: 22px;
      display: inline-block;
    }
    .btn + .btn {
      margin-top: 0;
      margin-left: 20px;
    }
  }
}