/*
 * _kids.scss
 * Kids Pages Styling
 * - Variables exist in variables/components/_nav-normal.scss (separate var files did not work)
 * - Page class added via Page Manager
 * - Developer Notes http://confluence.comicrelief.com/display/sr16splashDocumentation/Kids+Nav
 * Author: J.Pitt
 * Last updated: 22nd January 2015
 */

.kids__page-wrapper {
  /**
   * Adjust the spacing on the left of the menu - helps centre the nav
   */
  nav.nav {
    /**
     * Hide any item that has the kids__item-hide class including footer icons
     */
    .kids__item-hide {
      display: none;
    }
  }

  /**
   * Hide the footer social links
   */
  .footer__social {
    display: none;
  }
}

/**
 * Kids Normal Nav Breakpoint
 */
@include breakpoint($nav-normal-breakpoint) {
.kids__page-wrapper {
    /**
     * Override touch as it's a shorter logo
     */
    nav.nav.nav--touch {
      padding-left: $nav-kids-padding-left;
    }

    /**
     * Adjust the primary link spacing for the Kids Nav
     */
    nav.nav > ul.menu > li > a {
      padding: 0 $nav-kids-one-link-padding 0 $nav-kids-one-link-padding;
    }
  }
}