/*
 * _media.scss
 * The main MediaElement JS Player Styles
 * Author: J.Pitt
 * Last updated: 27th November 2014
 */

/**
 * Media Main Component
 */
.media-player {
  height: 100%;
  position: relative;
}

/**
 * MediaElementJS Components
 */
.mejs-container {
  position: relative;
  background: $black-brand;
  text-align: left;
  vertical-align: top;
  text-indent: 0;
}

.mejs-embed, 
.mejs-embed body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.mejs-fullscreen {
  /* set it to not show scroll bars so 100% will work */
  overflow: hidden !important;
}

.mejs-container-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1000;
}
.mejs-container-fullscreen .mejs-mediaelement,
.mejs-container-fullscreen video {
  width: 100%;
  height: 100%;
}

.mejs-clear {
  clear: both;
}

/* Start: LAYERS */
.mejs-background {
  position: absolute;
  top: 0;
  left: 0;
}

.mejs-mediaelement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mejs-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.mejs-overlay-play {
  cursor: pointer;
}

.mejs-overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  background: $media-controls-bigplay-svg no-repeat;
  background-size: 100px 200px;
}

.no-svg .mejs-overlay-button {
  background-image: $media-controls-bigplay-png;
}

.mejs-overlay:hover .mejs-overlay-button {
  background-position: 0 -100px ;
}

.mejs-overlay-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  background: #333;
}

.mejs-overlay-loading span {
  display: block;
  width: 80px;
  height: 80px;
  background: transparent $media-controls-loading-gif 50% 50% no-repeat;
}

/* End: LAYERS */

/* Start: CONTROL BAR */
.mejs-container .mejs-controls {
  position: absolute;
  list-style-type: none;
  margin: $media-controls-margin;
  padding: $media-controls-padding;
  bottom: $media-controls-bottom;
  left: 0;
  height: 54px;
  width: $media-controls-width;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: $media-controls-bg-color;
    @include opacity($media-controls-bg-opacity);
    content: "";
  }
}

.mejs-container .mejs-controls div {
  list-style-type: none;
  background-image: none;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 54px;
  height: 54px;
  font-size: 14px;
  line-height: 14px;
  border: 0;
  position: relative;
}

.mejs-controls .mejs-button button {
  cursor: pointer;
  display: block;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 54px;
  width: 54px;
  border: 0;
  background: transparent $media-controls-svg no-repeat;
  background-size: 162px 108px;
  outline: none;
  @include transition-property(opacity);
  @include transition-duration(180ms);
  @include opacity($media-video-overlay-btn-opacity);
  &:hover {
    @include transition-duration(0ms);
    @include opacity(1);
  }
  &:active {
    @include opacity(0.2);
  }
  &:focus {
    outline: none;
  }
}

.no-svg .mejs-controls .mejs-button button {
  background-image: $media-controls-png;
}

/* End: CONTROL BAR */

/* Start: Time (Current / Duration) */
.mejs-container .mejs-controls .mejs-time {
  color: $media-controls-type-color;
  display: block;
  height: 35px;
  width: auto;
  padding: 19px 10px 0 9px;
  overflow: hidden;
  text-align: center;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.mejs-container .mejs-controls .mejs-time span {
  color: $media-controls-type-color;
  font-size: 14px;
  line-height: 14px;
  display: block;
  float: left;
  margin: 1px 0 0 0;
  width: auto;
}
/* End: Time (Current / Duration) */

/* Start: Play/Pause/Stop */
.mejs-controls .mejs-play button {
  background-position: -108px 0;
}

.mejs-controls .mejs-pause button {
  background-position: -108px -54px;
}

.mejs-controls .mejs-stop button {
  background-position: -112px 0;
}
/* Start: Play/Pause/Stop */

/* Start: Progress Bar */
.mejs-controls div.mejs-time-rail {
  direction: ltr;
  width: 200px;
  padding-top: 19px;
}

.mejs-controls .mejs-time-rail span {
  display: block;
  position: absolute;
  width: 180px;
  height: $media-controls-time-total-height;
  cursor: pointer;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
  margin: 5px;
  background: $media-controls-time-total-bg-color;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: $media-controls-time-loaded-bg-color;
  width: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
  background: $media-controls-time-current-bg-color;
  width: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-handle {
  display: none;
  position: absolute;
  margin: 0;
  width: 10px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: solid 2px #333;
  top: -2px;
  text-align: center;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
  position: absolute;
  display: none;
  background: $media-controls-time-float-bg-color;
  width: 46px;
  height: 23px;
  top: -36px;
  margin-left: -23px;
  text-align: center;
  
  color: $media-controls-type-color;
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
  padding-top: 6px;
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  left: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
}

.mejs-controls .mejs-time-rail .mejs-time-float-corner {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  border: solid 5px $media-controls-time-float-bg-color;
  border-color: $media-controls-time-float-bg-color transparent transparent transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  top: 23px;
  left: 18px;
}

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float {
  width: 48px;
}

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float-current {
  width: 44px;
}

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float-corner {
  left: 18px;
}

/* End: Progress Bar */

/* Start: Fullscreen */
.mejs-controls .mejs-fullscreen-button button {
  background-position: -54px 0;
}

.mejs-controls .mejs-unfullscreen button {
  background-position: -54px -54px;
}
/* End: Fullscreen */


/* Start: Mute/Volume */
.mejs-controls .mejs-volume-button {
}

.mejs-controls .mejs-mute button {
  background-position: 0 0;
}

.mejs-controls .mejs-unmute button {
  background-position: 0 -54px;
}

.mejs-controls .mejs-volume-button {
  position: relative;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider {
  display: none;
  height: 115px;
  width: 25px;
  top: -114px;
  left: 16px;
  z-index: 1;
  position: absolute;
  margin: 0;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: $media-controls-bg-color;
    @include opacity($media-controls-bg-opacity);
    content: "";
  }
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
  position: absolute;
  left: 11px;
  top: 8px;
  width: 2px;
  height: 100px;
  margin: 0;
  background: $media-controls-volume-total-bg-color;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
  position: absolute;
  left: 11px;
  top: 8px;
  width: 2px;
  height: 100px;
  background: $media-controls-volume-current-bg-color;
  margin: 0;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
  position: absolute;
  left: 4px;
  top: -3px;
  width: 16px;
  height: 6px;
  background: $media-controls-volume-handle-bg-color;
  cursor: n-resize;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin: 0;
}
/* End: Mute/Volume */

/* Start: Error */
.me-cannotplay a {
  color: $media-controls-type-color;
  font-weight: bold;
}

.me-cannotplay span {
  padding: 15px;
  display: block;
}
/* End: Error */

/**
 * Small breakpoint
 */
@include breakpoint($screen-sm) {
  .mejs-container .mejs-controls {
    padding: $media-controls-padding-sm;
  }
}