/*
 * _nav-normal.scss
 * Site Menu Styling
 * Author: J.Pitt
 * Last updated: 31st August 2014
 */

/**
 *
 * Default menu for Custom Nav Breakpoint && Non Touch Devices
 *   
 * 1. Generic Menu Styles
 * 2. Level One Menu & Links
 * 3. Level Two & Tertiary Links
 * 4. Duplicate Top Level Links
 * 5. Normal Nav Breakpoint
 *
 */

/*
 * 1. Generic Menu Styles
 */
div.nav__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

nav.nav {
  height: 100%;

  // All site wide menus
  ul.menu {
    padding: 0;
    margin:0;
    @include reset-list-style;
    li, ul { @include reset-list-style; }
  }

  // Style All Links/Spans and apply transitions
  a {
    display: inline-block;
    font-family: $p-type--all-font;
    text-decoration: none;
    // Little safari trick to avoid that weird grey on tap
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    @include transition-property(background-color);
    @include transition-duration(180ms);
    span {
      font-size: $nav-link-font-size;
      line-height: $nav-link-line-height;
      @include transition-property(border, color);
      @include transition-duration(180ms);
    }
  }
}

/*
 * Level One Menu & Links
 */
nav.nav > ul.menu {
  height: 100%;
  float: right;

  // Level one menu list items
  > li {
    display: block;
    float: left;
    height: 100%;
    &.expanded {
      position: relative;
    }
  }

  // Open the secondary navigation on hover/focus
  > li.expanded:hover > ul.menu,
  > li.expanded > a:focus ~ ul.menu {
    display: block;
  }

  // Primary Menu Links
  > li > a {
    padding: 0 $nav-one-link-padding 0 $nav-one-link-padding;
    height: 100%;
    &:focus { outline: none; }
    > span {
      display: inline-block;
      font-weight: $nav-one-link-weight;
      font-size: $nav-one-link-font-size;
      line-height: $nav-one-link-line-height;
    }

    // Style the touch link states
    @include nav-touch-link-states($nav-link-one);
  }
}

/*
 * 3. Level Two & Tertiary Menus/Links
 */
nav.nav > ul.menu > li {
  /*
   * Level Two Menu (Drop Down)
   */
  > ul.menu {
    display: none;
    padding: 0;
    margin:0;
    top: 100%;
    position: absolute;
    margin-left: -105px;
    text-align: center;
    left: 50%;
    width: 210px;

    // Add triangle/arrow to first links
    > li.first > a {
      position: relative;
      @include nav-css-triangle();
    }
  }
  
  /*
   * Level Two/Three Links
   */
  ul {
    li {
      line-height: $nav-two-link-line-height;
    }
    a {
      display: block;
      padding: $nav-link-two-padding;
      > span {
        font-size: $nav-two-link-font-size;
        line-height: $nav-two-link-line-height;
      }

      // Style the touch link states
      @include nav-touch-link-states($nav-link-two);
    }
  }
}

/**
 * 4. Duplicate Top Level Links
 */
a.nav__link--primary-duplicate {
  > span {
    font-weight: 600;
  }
  &:after {
    content: "";
    position: absolute;
    line-height: 0;
    bottom: -$nav-duplicate-bottom-border-height / 2;
    left: 0;
    right: 0;
    height: 0;
    margin: 0 $nav-duplicate-bottom-border-side-margins;
    border-bottom: $nav-duplicate-bottom-border;
  }
}


  // Vertically center the nav link
  nav.nav > ul.menu > li > a > span {
    padding-top: calc-nav-top-padding($nav-link-line-height, $nav-normal-height, 0px);
  }
  // Nav Level One
  nav.nav > ul.menu > li > a {
    padding: 0 $nav-one-link-padding;
  }

/**
 * 4. Small Nav Breakpoint
 */
@include breakpoint($screen-sm) {

  nav.nav > ul.menu > li > a > span {
    padding-top: calc-nav-top-padding($nav-link-line-height, $nav-small-height, 0px);
  }

  nav.nav .button-nav.button-esu--toggle {
    width: 140px;

    .button-nav__icon {
      left: auto;
      right: 0;
    }

    span.button-esu__description {
      display: inline-block;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      margin-right: 25px;
      color: $nav-button-text-color;
    }
  }
}

@include breakpoint($nav-button-breakpoint) {
 nav.nav {
   width: $nav-width;
 }
}

/**
 * 5. Normal Nav Breakpoint
 */
@include breakpoint($screen-md) {
  // Emulates the container class
  nav.nav {
    margin: 0 auto;
    padding-left: $nav-padding-left;
    padding-right: $nav-padding-right;
  }
  // Vertically center the nav link
  nav.nav > ul.menu > li > a > span {
    padding-top: calc-nav-top-padding($nav-link-line-height, $nav-wide-height, 0px);
  }
  // Nav Level One
  nav.nav > ul.menu > li > a {
    padding: 0 $nav-one-link-padding;
  }
}