/*
 * _nav-simple.scss
 * Site Simple Menu Styling
 * Author: M.Wagg
 * Last updated: 10th November 2014
 */

 /**
 * Generic styles
 */

 nav.simple-nav__wrapper {
  height: 100%;
  padding-left: 0;
  padding-right: 15px;
  text-align: right;
  > ul.menu {
    float: right;
    > li > a {
      display: block;
      height: 100%;
      padding: 26px 0 26px 15px;
      > span {
        padding: 0;
      }
    }
  }
 }

 /**
 * Small breakpoint
 */

 @include breakpoint($screen-sm) {
  nav.simple-nav__wrapper {
    ul.menu li a {
      padding: 44px 0 43px 15px;
    }
  }
 }

 /**
 * Medium breakpoint
 */ 

 @include breakpoint($screen-md) {
  nav.simple-nav__wrapper {
    width: 960px;
    ul.menu li a {
      padding: 32px 0 35px 15px;
    }
  }
 }

 /**
 * Large breakpoint
 */

 @include breakpoint($screen-lg) {
  nav.simple-nav__wrapper {
    width: 1200px;
  }
 }