/*
 * _pane_image.scss
 * Pane Image Styles
 * Author: M.Wagg
 * Last updated: 10th September 2014
 */

/*doc
---
title: Pane Image
name: Pane-image
category: Pane image
---

The following classes for the pane-image component respond to all breakpoints.

The pane-image styles have a generic padding and then a couple of variations, which are displayed below. The variations are to do with the different row styles and their varying content and each of the classes below (other than .pane-image) should be added to the row while page building.

See the examples below.

###Pane-image classes for margins and paddings 

  Classes to use                        |             Example of use in HTML              
 -------------------------------------- | ------------------------------------------------- 
 .pane-image                            | `<div class="pane-image"><img src="..."/></div>`
 .pane-image-row-center .pane-image     | `<div class="pane-image-row-center"><div class="pane-image"><img src="..."/></div></div>`
 .pane-image-row-multiple .pane-image   | `<div class="pane-image-row-multiple"><div class="pane-image"><img src="..."/></div></div>`
 .pane-image-small-copy .pane-image     | `<div class="pane-image-small-copy"><div class="pane-image"><img src="..."/></div></div>`


###Pane-image classes for gradients

To display a gradient over an image, you can add any of the following classes as a custom class to a 'Pane image'.


  Classes to use                        |             Description              
 -------------------------------------- | ------------------------------------------------- 
 .pane-image--gradient-60               | Applies a transparent black gradient over the image. Black at the bottom and rising to 60% vertical space of the image.


###Pane-image classes for rounded images

To display a rounded image, add any of the following classes as a custom class to a 'Pane image' or a 'Pane Image Overlay'.


  Classes to use                        |             Description              
 -------------------------------------- | ------------------------------------------------- 
 .pane-image--rounded                   | Applies 50% border-radius to the image in an Image Pane.
 .pane-image--rounded                   | Applies 50% border-radius to just the front image in an 'Image Overlay Pane'
 .pane-image--rounded .pane-image-overlay--rounded                   | Applied 50% border-radius to the front image and the overlay image in an 'Image Overlay Pane'



*/

/**
 * To remove padding right and left for mini panels
 */
.panel-pane.pane--cols .pane-image {
  padding-left: 0;
  padding-right: 0;
}

.pane-image--content {
  padding: $pane-image-padding;
}

/**
 * To support Image Pane Overlays.
 * Position the second image absolutely.
 */
.pane-image-overlay {
  position: relative;
  .field--type-image + .field--type-image {
    position: absolute;
    top: 0;
  }
}

@include breakpoint($screen-sm) {
  .pane-image--content {
    padding: $pane-image-padding-sm;
  }
}

@include breakpoint($screen-md) {
  .pane-image--content {
    padding: $pane-image-padding-md;
    img {
      width: auto;
    }
  }
}

.pane-image--content img {
  margin: 0 auto;
}

@include breakpoint($screen-md) {
  .pane-image--content img {
    margin: 0;
  }
}

/**
 * Centred row
 */
.pane-image--row-center .pane-image--content {
  padding: $pane-image-padding-row-center;
  img {
    margin: 0 auto;
  }
}

/**
 * Multiple Messages
 */
.pane-image__wrapper--multiple-images {
  .pane-image--content {
    padding: $pane-image-padding-row-multiple;
  }
  .pane-image--first .pane-image--content {
    padding-bottom: $pane-image-padding-row-multiple-first-bottom;
    padding-top: $pane-image-padding-row-multiple-first-top;
  }
}

@include breakpoint($screen-sm) { 
  .pane-image__wrapper--multiple-images .pane-image--content, 
  .pane-image__wrapper--multiple-images .pane-image--first .pane-image--content { 
    padding: $pane-image-padding-row-multiple-sm;
  }
}

/**
 * Right sided image
 */
@include breakpoint($screen-md) {
  .pane-image--right .pane-image--content { 
    float: right;
  }
}

/**
 * Small Copy
 */
.pane-image--small-copy .pane-image--content {
  padding: $pane-image-padding-small-copy;
}

@include breakpoint($screen-sm) { 
  .pane-image--small-copy .pane-image--content {
    padding: $pane-image-padding-small-copy-sm;
  }
}

@include breakpoint($screen-md) {
  .pane-image--small-copy .pane-image--content {
    padding: $pane-image-padding-small-copy-md;
  }
}

/**
 * Image gradients.
 */
.pane-image--gradient-60 {
  // Apply the gradient using :before on the site image wrapper.
  .field--name-field-site-image:before {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    @include background-image(linear-gradient(to top, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 0)));
  }
}

/**
 * Rounded images.
 */
.pane-image--rounded {
  img {
    @include border-radius(50%);
  }
  // Ensure overlay images in a Pane Image Overlay
  // pane don't get rounded.
  .field--type-image + .field--type-image img {
    @include border-radius(0);
  }
  // If the overlay image requires rounding also.
  &.pane-image-overlay--rounded {
    .field--type-image + .field--type-image img {
      @include border-radius(50%);
    }
  } 
}