/*
 * _payin.scss
 * Form component donate styles
 * Author: J.Wang
 * Last updated: 8th January 2015
 */

/**
 * Specific Payin form styling
 */
.cr-donate-pay-in-form {
  .counter {
    display: block;
    font-family: $form-font;
    font-size: $label-size;
    font-weight: $weight;
    color: $label-color;
  }
  .donate-method-radio {
    text-align: center; 
  }
  .cr-donate-amount {
    text-align: center;
    @extend h3;
  }
  .cr-donate-currency {
    text-align: center;
    .form-type-radio {
      display: inline-block;
      margin: 5px;
    }
  }
  .payin__info {
    .dk-select-options {
      max-height: 200px;
      overflow-y: scroll;
    }
    .establishment-error {
      padding: 0px 15px;
    }
    .form-item-establishment-lookup { 
      .description {
        a {
          display: block;
          color: $grey-dark;
        }
      } 
    }
  }
  .payin__options {
    margin-top: 20px;
    label.option {
      margin: 0px auto;
      width: 100%; 
      &:before,
      &:after {
        top: 0px;
      }
    } 
    input[type=radio]:checked + label:after {
      top: 0px;
    }
  }
  .payin__field {
    margin-bottom: 40px;
  }
  .payin__field-reset { 
    padding-top: 10px;
  }
  .payin__label-reset { 
    label {
      padding: 5px;
    }
    label::after {
      top: 10px;
    }
  }
  .payin__method {
    .payment__title {
      padding-bottom: 20px; 
    }
    .messages {
      width: 230px;
      margin: 0px auto;
      clear: both;
    }
  }
  .payment__card {
    .form-type-radio { 
      label {
        position: absolute;
        height: 36px;
        display: block;
        padding-left: 0px;
        margin-left: 60px;
      }
      label:before,
      label:after, 
      input[type=radio]:checked + label:after {
        position: absolute;
        left: 50%;
        margin-left: -13px;
      }
      label:before {
        top: 46px;
      }
      label:after, 
      input[type=radio]:checked + label:after {
        top: 59px;
      }  
    }
    .donate-method-PAYPAL {
      label {
        margin-left: 50px;
      }
    }
    .donate-method-AMEX {
      label {
        margin-left: 70px;
      }
    }
    .donate-method-JCB {
      label {
        margin-left: 65px;
      }
    }    
  }  
  &.cr-fundraising-form-step-1 {
    .payin__amount,
    .payin__method,
    .payin__billing,
    .payin__subscribe,
    .payin__make_payment {
      display: none;
    }

    .form-type-checkbox label {
      display:block;
      &:before {
        top: 3px;
      }
    }

    .establishment-manual {
      margin-top: 10px;
    }
  
    /* Hide the form stuff until the first radio button is selected,
     * shown by the sr16splash.payIn.js behaviour
    */
    .payin__info {
      display: none;
    }
  }

  &.cr-fundraising-form-step-2 {
    .payin__options,
    .payin__info {
      display: none;
    }
    .payin__method,
    .payin__billing,
    .payin__subscribe,
    .payin__make_payment {
      display: block;
    }

    .cr-plus-manual-wrapper {
      text-align: left;
    }

    .form-type-checkbox label {
      display: block;
      &:before {
        top: 3px;
      }
    }
    .parsley-error-list {
      padding-left: 18px;
      margin-top: 5px;
    }
  }
}

/**
 * Small Breakpoint
 */
@include breakpoint($screen-sm) { 
  .cr-donate-pay-in-form {
    .payin__options {
      margin-top: 0px;
      label.option {
        display: block;
        width: 26px;
        height: 26px;
        overflow: hidden;
      }
    }
  }
}