/*
 * _share.scss
 * Share Link Styling
 * Author: J.Wang
 * Last updated: 7th January 2015
 */

.cr-share-links {
  ul {
    padding-left: 0px;
    li {
      list-style-type: none;
      display: inline-block;
      cursor: pointer;
    }
  }
}