/**
 * Slideshows
 */
.general_style {
  @extend .icon; 
  overflow: hidden;    
  color: $white_brand;
  cursor: pointer;
}

/*
 * Slideshow
 */
.slideshow {
  color: $white_brand;
  padding-bottom: 55px;

  /*
   * Style all links for controling the slideshow
   */
  .flex-control-nav,
  .flex-direction-nav {
    > li > a {
      @extend .general_style;
    }
  }

  // Black pager variation
  &.slideshow--pager-black {
    .flex-control-nav,
    .flex-pauseplay {
      a:before {
        color: $grey_brand;
      }
    }
  }

  /*
   * Control Nav (Dots)
   */
  .flex-control-nav {
    > li {
      width: $slideshow-base-vertical-xs-sm;
      > a {
          width: $slideshow-base-horizontal-md-lg;
          @extend .icon-circle;
          &:hover,
          &:focus,
          &.flex-active {
            @extend .icon-circle-stroke;
          }
      }
    }
  }

  /*
   * Directional Nav (Arrows)
   */
  .flex-direction-nav {
    display: none;
    > li {
      > a { 
        @extend .icon--large;
        &:before {
          font-size: $slideshow-nav-font-large;
          position: relative;
          top: -18px;
          left: -33px;
        }
        &.flex-prev {
          @extend .icon-arrow-left;
        }  
        &.flex-next {
          @extend .icon-arrow-right;
        }
      }
    }  
  }

  /*
   * Pause and Play Icons
   */
  .flex-pauseplay {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 10;
    width: $slideshow-base-vertical-xs-sm;
    > a {
      @extend .general_style;  
      &:before {
        position: relative;
        top: -1px;
        left: 0px;
      }
      &.flex-play {
        @extend .icon-play-1;
        &:before {
          font-size: $slideshow-base-font-large;
          top: -2px;
        }
      }
      &.flex-pause {
        @extend .icon-pause;
      }
    }
  }
}

/*
 * Medium breakpoint and above
 */
@include breakpoint($screen-md) {
  .slideshow {
    &.slideshow--pager-overlay-md {
      padding-bottom: 0;
    }
    .flex-direction-nav {
      display: block;
    }
    .flex-pauseplay {
      display: inline-block;
      width: $slideshow-base-horizontal-md-lg;
      > a:before {
        font-size: $slideshow-base-font-large;
        top: -2px;
      }
    }
  }
}  

/*
 * Pre load images 
 * - work with picturefill.js 
 * - images are default to display none, only active slide displays images
 */
.slideshow .slides .pane-image--content span[data-picture] { display:none; }
.slideshow .slides .flex-active-slide .pane-image--content span[data-picture] { display: block; }
.slideshow--preload-images .slides .pane-image--content span[data-picture] { display: block; }