/*
 * _transition-swap.scss
 * SASS rules for the transition-swap component.
 * Author: P.Brady
 * Last updated: 17th September 2014
 *
 */

.flip.flip-instant {
  
  /**
   * Set the flip duration.
   * 
   * Unable to use SMACSS format here, due to live content already created.
   */
  @include flip(0s, 0);
  margin-bottom: 15px;
  
  /**
   * Front card rules.
   * 
   * Assume the second div in .front is the text pane for the caption.
   */
  .front > div + div {
    position: absolute;
    color: $white-brand;
    font-weight: 600;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .front > div + div p {
    padding: 10px;
    font-weight: inherit;
  }

  /**
   * Back card rules.
   */
  .back {
    background: white;
    bottom: 0;
    right: 0;
  }
  
  .back > div {
    height: 100%;
  }

  .back > div > div {
    @extend %vertical-centre;
    text-align: center;
    padding: 20px;
  }

  // Ensure an image in a swap transition doesn't get any padding.
  .pane-image--content {
    padding: 0;
  }

}

/*
 * Small Breakpoint
 */
@include breakpoint($screen-sm) {
  .flip.flip-instant {
    margin-bottom: 30px;
  }
  .flip.flip--margin-none {
    margin-bottom: 0;
  }
}