/*
 * _autocomplete.scss
 * Autocomplete Styling
 * Author: J.Wang
 * Last updated: 26th February 2015
 *
 * @see autocomplete.js
 */

#autocomplete {
  background: $white-brand;
  border: 1px solid;
  color: $black-brand;
}

#autocomplete {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
  }
  li {
    cursor: default;
    white-space: pre;
    zoom: 1; /* IE7 */
  }
  .selected {
    background: $blue-dark;
    color: $white-brand;
  }
}

/* Animated throbber */
html.js .form-autocomplete {
  background-image: image-url('misc/throbber_v2.gif');
  background-position: 99.5% 18px; /* LTR */
  background-repeat: no-repeat;
}
html.js .throbbing {
  background-position: 99.5% -49px; /* LTR */
}
