/*
 * _dropkick.scss
 * Form dropkick Styles
 * Author: M.Wagg
 * Last updated: 10th September 2014
 */

/**
 * Dropkick styles
 */
select[data-dkcacheid] {
  position:absolute;
  visibility:hidden;
  bottom:0;
  left:0;
  height:0;
}

.dk-select {
  cursor: pointer;
  position: relative;
  width: $element-width;
}

%dk-select {
  background-color: $white-brand;
  border: $element-border;
  font-family: $form-font;
  font-size: $label-size;
  font-weight: $weight;
  height: $element-height;
  padding: 15px;
  width: $element-width;
  &:focus {
    outline: none;
  }
}

.dk-selected {
  @extend %dk-select;
}

.error .dk-selected {
    border-color: $red-brand;
}

.dk-selected:after {
  color: $black-brand;
  content: nth(nth($iconlist,10),2);
  font-family: $icon-font-family;
  font-size: 32px;
  line-height: 54px;
  height: 50px;
  position: absolute;
  right: 12px;
  top: 0;
}

.dk-select.dk-select-open-down, 
.dk-select.dk-select-open-up {
  .dk-selected:after {
    content: nth(nth($iconlist,9),2);
  }
}

.dk-select-options {
  background-color: $white-brand;
  border-bottom: $element-border;
  border-left: $element-border;
  border-right: $element-border;;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50px;
  visibility: hidden;
  width: $element-width;
  z-index: 100;
}

.dk-option {
  @extend %dk-select;
  border: none;
  &:hover {
    background: rgb(200,200,200);
    background: rgba(200,200,200,0.2);
    color: $black-brand;
  }
}

.dk-select-open-down .dk-select-options, 
.dk-select-open-up .dk-select-options, 
.dk-select-open-down .select__icon, 
.dk-select-open-up .select__icon {
  visibility: visible;
}