/*
 * _ form--fundraiser-showcase.scss
 * Fundraiser Showcase Form Component
 * Author: A.Phipps
 * Last updated: 27th February 2015
 */

.fundraiser-showcase__step-1 {
  .fundraiser-showcase__upload-intro {
    a {
      color: $grey-dark;
      @extend .link--inline-black;
    } 
  }
  
  // Terms and conditions
  .fundraiser-showcase__upload-intro-terms {
    margin-bottom: $fundraiser-showcase-intro-margin-bottom;
  }

  // Photo caption
  .form-type-textarea {
    margin-bottom: 0;
  }

  // Uploader and uploaded photos
  .fundraiser-showcase__uploader {
    margin-bottom: $fundraiser-showcase-uploader-margin-bottom;

    // Hide horrible extra markup
    .tabledrag-handletoggle-weight,
    .tabledrag-toggle-weight-wrapper,
    .tabledrag-handle,
    .tabledrag-hide,
    .handle,
    legend { 
      display:none;
    }

    // Upload form 
    .form-type-managed-file {
      .description,
      label {
        display: none;
      }

      // Upload button
      input.form-submit {
        width: 100%;
        margin-top: $fundraiser-showcase-upload-button-margin-top;
      }

      .form-managed-file {
        background: $grey-v-light;
        height: $fundraiser-showcase-uploaded-file-height;

        .image-widget-data {
          margin: 0;
          width: 100%;
          height: 100%;
          text-align: left;

          input.form-file {
            background: image-url("fundraiser-showcase/fundraiser-showcase-icon.jpg") 0 0 no-repeat;
            padding: $fundraiser-showcase-input-file-padding;
            width: 100%;
            height: 100%;
            border: 0;
            line-height: 0;
          }
        }
      }
    }

    // Uploaded content
    table {
      width: 100%;

      thead {
        display:none;
      }

      tr {
        background: $grey-v-light;
      }

      td {
        width: 100px;
        border-bottom: $fundraiser-showcase-uploaded-file-border-bottom $white-brand solid;
      }

      td + td {
        width: auto;
        padding: $fundraiser-showcase-uploaded-file-tablecell-padding;
        text-align: right;
      }

      // Remove button
      input.form-submit {
        @extend .btn;
        @extend .btn-grey;
        background: $grey-dark;
        margin: 0;
        width: 100%;
    
      }

      // Uploaded file
      .form-managed-file {
        .image-preview {
          width: $fundraiser-showcase-uploaded-file-width;
          height: $fundraiser-showcase-uploaded-file-height;
          background-color: $grey-brand;
          text-align: center;
          float:left;
          padding: 0;

          img {
            margin: 0 auto;
            height: 100%;
            width: auto;
          }
        }

       .image-widget-data {
         padding-top: $fundraiser-showcase-file-data-padding-top;
         padding-left: $fundraiser-showcase-file-data-padding-left;
         text-align: left;
         float:left;
        
        // Setting up styles here for all breakpoints, but just hiding on XS here
        display: none;
  
        span.file {
          a {
            color: $grey-dark;
          }
          
          img.file-icon {
            display:none;
           }
         }
        }
      }
    }
  }
}

.fundraiser-showcase__step-2 {
  label {
    span.form-required {
      line-height: $fundraiser-showcase-form-required-line-height;
    }
  }
  .fundraiser-showcase__consent {
    margin-top: $fundraiser-showcase-consent-margin-top;
    label {
      display:none;
      &.option {
        display: block;
        &:before {
          top: $fundraiser-showcase-consent-checkbox-top;
        }
      }
    }
  }
  // Submit button
  .fundraiser-showcase__submit {
    margin-top: $fundraiser-showcase-submit-button-margin-top;
  }
}

/* Small breakpoint and above */
@include breakpoint($screen-sm) {
  .fundraiser-showcase__step-1 {

    .fundraiser-showcase__uploader {

      margin-bottom: 0;

      // Upload button
      .form-type-managed-file input.form-submit {
        margin-top: $fundraiser-showcase-upload-button-margin-top--sm;
        margin-right: $fundraiser-showcase-upload-button-margin-right--sm;
        width: $fundraiser-showcase-button-width--sm;
        float: right;
      }

      .form-type-managed-file .form-managed-file .image-widget-data input.form-file {
        width: 50%;
      }
      table {
        td {
          width: 75%;
        }
        td + td {
          width: 25%;
        }
        input.form-submit {
          width: $fundraiser-showcase-button-width--sm;
        }
        .form-managed-file {
          .image-widget-data {
            display:block;
          }
        }
      }
    }
  }
}