/*
 * _hr.scss
 * HR colour classes.
 * Author: P.Brady
 * Last updated: 15th January 2015
 */

/*doc
---
title: HR
name: HR
category: hr
---

If you need a simple coloured line, you can render a `<hr>` tag with one of the `.hr--{colour}`
classes, as shown below.

Note: the `<hr>` doesn't get any margin or padding so you'll need to supply this in your
own component, should you need to.

  Classes to use            |             Example of use in HTML              |  Example
 -------------------------- | ------------------------------------------------|---------
.hr--pink                   | `<hr class="hr--pink">`                         | <hr class="hr--pink">
.hr--pink-dark              | `<hr class="hr--pink-dark">`                    | <hr class="hr--pink-dark">
.hr--pink-v-dark            | `<hr class="hr--pink-v-dark">`                  | <hr class="hr--pink-v-dark">
.hr--orange                 | `<hr class="hr--orange">`                       | <hr class="hr--orange">
.hr--orange-dark            | `<hr class="hr--orange-dark">`                  | <hr class="hr--orange-dark">
.hr--orange-v-dark          | `<hr class="hr--orange-v-dark">`                | <hr class="hr--orange-v-dark">
.hr--red                    | `<hr class="hr--red">`                          | <hr class="hr--red">
.hr--red-dark               | `<hr class="hr--red-dark">`                     | <hr class="hr--red-dark">
.hr--red-v-dark             | `<hr class="hr--red-v-dark">`                   | <hr class="hr--red-v-dark">
.hr--purple                 | `<hr class="hr--purple">`                       | <hr class="hr--purple">
.hr--purple-dark            | `<hr class="hr--purple-dark">`                  | <hr class="hr--purple-dark">
.hr--purple-v-dark          | `<hr class="hr--purple-v-dark">`                | <hr class="hr--purple-v-dark">
.hr--blue                   | `<hr class="hr--blue">`                         | <hr class="hr--blue">
.hr--blue-dark              | `<hr class="hr--blue-dark">`                    | <hr class="hr--blue-dark">
.hr--blue-v-dark            | `<hr class="hr--blue-v-dark">`                  | <hr class="hr--blue-v-dark">
.hr--aqua                   | `<hr class="hr--aqua">`                         | <hr class="hr--aqua">
.hr--aqua-dark              | `<hr class="hr--aqua-dark">`                    | <hr class="hr--aqua-dark">
.hr--aqua-v-dark            | `<hr class="hr--aqua-v-dark">`                  | <hr class="hr--aqua-v-dark">
.hr--green                  | `<hr class="hr--green">`                        | <hr class="hr--green">
.hr--green-dark             | `<hr class="hr--green-dark">`                   | <hr class="hr--green-dark">
.hr--green-v-dark           | `<hr class="hr--green-v-dark">`                 | <hr class="hr--green-v-dark">
.hr--yellow                 | `<hr class="hr--yellow">`                       | <hr class="hr--yellow">
.hr--yellow-dark            | `<hr class="hr--yellow-dark">`                  | <hr class="hr--yellow-dark">
.hr--yellow-v-dark          | `<hr class="hr--yellow-v-dark">`                | <hr class="hr--yellow-v-dark">
.hr--white                  | `<hr class="hr--white">`                        | <hr class="hr--white">
.hr--grey-v-light           | `<hr class="hr--grey-v-light">`                 | <hr class="hr--grey-v-light">
.hr--grey-light             | `<hr class="hr--grey-light">`                   | <hr class="hr--grey-light">
.hr--grey                   | `<hr class="hr--grey">`                         | <hr class="hr--grey">
.hr--grey-dark              | `<hr class="hr--grey-dark">`                    | <hr class="hr--grey-dark">
.hr--grey-v-dark            | `<hr class="hr--grey-v-dark">`                  | <hr class="hr--grey-v-dark">
.hr--black                  | `<hr class="hr--black">`                        | <hr class="hr--black">

*/

hr {
  display: block;
  height: 1px;
  border: 0;
  padding: 0;
}

.hr {
  @include hr($colorList);  
}