/*
 * _media-video.scss
 * Media Video Styles
 * Author: J.Pitt
 * Last updated: 27th November 2014
 */
.media-video {
  position: relative;
  cursor: pointer;
  &:before{
    content: "";
    display: block;
    padding-top: 56.25%;  /* ratio of 16:9 */
    z-index: 0;
  }
}

/**
 * Media Video Elements
 */
.media-video__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.media-video__content > span {
  position: absolute;
  z-index: 100;
  width: 100%;
}

.media-video__overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  z-index: 101;
  margin: -50px 0 0 -50px;
  background: $media-controls-bigplay-svg no-repeat;
  background-size: 100px 200px;
}

.no-svg .media-video__overlay-button {
  background-image: $media-controls-bigplay-png;
}

.media-video__content:hover .media-video__overlay-button {
  background-position: 0 -100px ;
}

/**
 * Media Video Row
 */
.media-video-row__wrapper {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 1210;
  visibility: hidden;
  @include opacity(0);
  @include transition-property(opacity);
  @include transition-duration($media-video-row-transition-time);

  &.media-video-row__wrapper--visible {
    position: absolute;
    visibility: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 502;
    @include opacity(1);
  }
}

.media-video-row__container {
  height: 100%;
}

.media-video-row {
  height: 100%;
  .media-video {
    height: 100%;
    &:before {
      display: none;
    }
  }
  .media-video__content {
    margin: 0 auto;
    position: relative;
    line-height: 0px;
  }
}

.media-video-row__pane {
  height: 100%;
}

.media-video-row--vertically-centred .media-video__content {
  z-index: 100;
  @extend %vertical-centre;
}

.media-video-row__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  cursor: pointer;
  background: $black-brand;
  @include opacity($media-video-row-background-opacity);
}

// Close Button
.media-video-row__btn-close {
  position: absolute;
  right: -10px;
  top: -40px;
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  outline: none;
  font-weight: normal;
  &:before {
    color: $media-video-row-close-btn-color;
    font-weight: normal;
    left: -7px;
    top: -7px;
    position: absolute;
  }
  > span {
    display: block;
    text-indent: -999px;
  }
  &:hover:before {
    color: $media-video-row-close-btn-color-hover;
    @include transition-property(opacity);
    @include transition-duration(180ms);
  }
  &:active:before {
    @include opacity(0.6);
  }
}

/**
 * Medium Breakpoint
 */
@include breakpoint($screen-md) {
  .media-video-row__btn-close {
    right: -48px;
    top: -20px;
    width: 54px;
    height: 54px;
    &:before {
      left: 0;
      top: 0;
    }
  }
}