/*
 * _nav-touch.scss
 * Site Menu Styling
 * Author: J.Pitt
 * Last updated: 31st August 2014
 */

/**
 *
 * Only target touch interfaces
 * To debug, please add ?touch=true to the end of the URL
 *   
 * 1. Main naviation styles
 * 2. Level One Menu & Links
 * 3. Level Two & Tertiary Links
 * 4. Small Breakpoint
 * 5. Medium Breakpoint
 * 6. Large Breakpoint
 *
 */

/*
 * 1. Main naviation styles
 */
nav.nav.nav--touch {
  // Explicitly override the primary menu too, otherwise selectors are not strong enough
  > ul.menu, 
  > ul.menu > li ul.menu {
    padding: 0;
    margin: 0;
    overflow: hidden;
    
    // Force hardware rendering, yep, let's keep it smooth and sexy
    -webkit-transform: translateZ(0);
    @include transition-property(max-height);
    @include transition-duration(850ms); // Default, but is set via JS on menu-height
    @include transition-timing-function(cubic-bezier(0, 1, 0.5, 1));

    // Below, overrides the normal non-touch menu
    position: relative;
    left: 0;
    top: 0;
    width: 100%;

    // All list items of touch menu to be block
    li {
      display: block;
      float:none;
    }

    // Hide all triangles/arrows
    li.expanded li.first > a:before {
      display: none;
    }
  }
  
  // Show touch only links
  li.nav__link--touch-only {
    display: block;
  }

  // Level One Menu
  > ul.menu {
    position: absolute;
    top: 100%;
    float: none;
    height: auto;
  }

  // Level Two Menu
  > ul.menu > li ul.menu {
    display: block;
  }

  // Style All Touch Links
  > ul.menu a {
    display: block;
    padding: 5px 12px;
    width:100%;
    text-align: center;
    @include transition-property(background-color, color);
    @include transition-duration(180ms);
    > span {
      @include transition-property(border, color);
      @include transition-duration(180ms);
      display: inline;
      padding-top: 0px;
      font-weight: $nav-touch-link-weight;
      border-bottom: none;
    }
  }

  // Collapsed State
  &.collapsed {
    // Set ul menu max height to 0 to hide it
    > ul.menu,
    > ul.menu > li ul.menu { max-height: 0; }
  }
}


/*
 * 2. Level One Menu & Links
 */
nav.nav.nav--touch > ul.menu > li > a {
  padding: $nav-touch-one-link-padding-xs;
  > span {
    font-size: $nav-touch-one-link-font-size-xs;
    line-height: $nav-touch-one-link-line-height-xs;
  }
  @include nav-touch-link-states($nav-touch-link-one);
}

/*
 * 3. Level Two & Tertiary Links
 */
nav.nav.nav--touch > ul.menu > li > ul.menu a {
  padding: $nav-touch-two-link-padding-xs;
  > span {
    font-size: $nav-touch-two-link-font-size-xs;
    line-height: $nav-touch-two-link-line-height-xs;
  }
  @include nav-touch-link-states($nav-touch-link-two-three);
} 

/*
 * 4. Small Breakpoint
 */
@include breakpoint($screen-sm) {
  // Position menu due to the increased header height
  nav.nav.nav--touch.collapsible > ul.menu {
    left: 0;
    right: 0;
    padding: 0;
  }

  // Level One
  nav.nav.nav--touch > ul.menu > li > a {
    padding: $nav-touch-one-link-padding-sm;
    > span {
      font-size: $nav-touch-one-link-font-size-sm;
      line-height: $nav-touch-one-link-font-size-sm;
    }
  }

  // Level Two and Three
  nav.nav.nav--touch > ul.menu li > ul.menu li a{
    padding: $nav-touch-two-link-padding-sm;
    > span {
      font-size: $nav-touch-two-link-font-size-sm;
      line-height: $nav-touch-two-link-line-height-sm;
    }
  }
}

/*
 * 5. Medium Breakpoint
 */
@include breakpoint($screen-md) {
  // Move touch menu to right
  // Decrease width by 50%
  nav.nav.nav--touch.collapsible > ul.menu {
    width: 50%;
    left: auto;
    right: 0;
    padding: 0;
  }

  nav.nav.nav--touch {
    position: relative;
  }

  // Level One
  nav.nav.nav--touch > ul.menu > li > a {
    padding: $nav-touch-one-link-padding-md;
    > span {
      font-size: $nav-touch-one-link-font-size-md;
      line-height: $nav-touch-one-link-line-height-md;
    }
  }

  // Level Two and Three
  nav.nav.nav--touch > ul.menu li > ul.menu li a {
    padding: $nav-touch-two-link-padding-md;
    > span {
      font-size: $nav-touch-two-link-font-size-md;
      line-height: $nav-touch-two-link-line-height-md;
    }
  }
}

/*
 * 6. Large Breakpoint
 */
@include breakpoint($screen-lg) {
  // Level One
  nav.nav.nav--touch > ul.menu > li > a {
    padding: $nav-touch-one-link-padding-lg;
    > span {
      font-size: $nav-touch-one-link-font-size-lg;
      line-height: $nav-touch-one-link-line-height-lg;
    }
  }

  // Level Two and Three
  nav.nav.nav--touch > ul.menu li > ul.menu li a {
    padding: $nav-touch-two-link-padding-lg;
    > span {
      font-size: $nav-touch-two-link-font-size-lg;
      line-height: $nav-touch-two-link-line-height-lg;
    }
  }
}
