/*
 * _otn.scss
 * RND On The Night styles
 * Author: P.Brady
 * Last updated: 10th February 2015
 */

/**
 * Default styles.
 */

/**
 * Reduces the padding on copy in the cookie banner component.
 */
.otn__page .cookie-banner__content {
  padding: 10px 30px 10px 0;
}

/**
 * Provides a nice gap above the Donate now button in the promo.
 */
.otn__promo > .section__content > .section__container .row--content .btn {
  margin-top: 15px;
}

/**
 * Provides a smaller row padding for the SVG title and button on xs.
 */
.otn__promo > .section__content > .section__container .row--content {
  padding-top: 30px;
  padding-bottom: 30px;
}

/**
 * Provides a nice bottom gap after the pane title and the copy pararaph.
 */
.otn__columns .btn,
.otn__columns .pane-title + .pane-text--content {
  margin-bottom: 30px;
}

/**
 * Ensures the iTunes button is centre-aligned.
 */
.otn__columns .btn--itunes {
  display: inline-block;
}

/**
 * Ensures the ping it image doesn't make the 
 * row too tall.
 */
.otn__pingit .pane-image--content {
  padding-bottom: 0;
}

/**
 * Small breakpoint.
 */
@include breakpoint($screen-sm) {
  
  /**
   * Provides a smaller row padding for the SVG title and button on xs.
   */
  .otn__promo > .section__content > .section__container .row--content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /**
   * Gives the text panes a min-height so the buttons
   * following can sit nicely bottom-aligned.
   */
  .otn__columns .pane-title + .pane-text--content {
    min-height: 100px;
    margin-bottom: 0;
  }

  .otn__columns .btn {
    margin-bottom: 0;
  }

}

/**
 * Medium breakpoint.
 */
@include breakpoint($screen-md) {

  /**
   * Vertically centres the promo title and button.
   */
  
  .otn__promo .section__content {
    /**
     * Ensure all parent elements have height set to 100% otherwise this won't work
     */
    .section__container,
    .row--content,
    .pane-panels-mini,
    .cr-content,
    .panels-ipe-portlet-wrapper,
    .panels-ipe-portlet-content {
      height: 100%;
    }

    /**
     * Set the display table
     */
    .cr-content {
      display: table;
      width: 100%;
    }

    /**
     * Set the display table-cell
     */
    .cr-content-region {
      position: relative;
      display: table-cell;
      vertical-align: middle;
    }
  }
  
  /**
   * Ensures we don't have any promo row padding on >= md so
   * as not to mess with matchHeight.
   */
  .otn__promo > .section__content > .section__container .row--content {
    padding: 0;
  }

  /**
   * Provides a nice gap above the Donate now button in the promo.
   */
  .otn__promo > .section__content > .section__container .row--content .btn {
    margin-top: 30px;
  }

  /**
  * Provides a nice gap above the pane titles.
  */
  .otn__columns .pane-title {
    margin-top: 20px;
  }

  /**
   * Reduces the top and bottom padding in the pingit row
   * for medium and large.
   */
  .otn__pingit .row--content {
    padding-top: 30px;
    padding-bottom: 30px;
  }

}