/*
 * _pager.scss
 * Pager component for Views etc
 *
 * Author: A.Phipps
 * Last updated: 17th February 2015
 *
 * Everything but next/previous pager items hidden with 'hidden-xs'
 * classes added to rnd15 pager.theme.inc
 */

/*
 * XS breakpoint
 */
.pager {

  padding: 20px 0;
  clear: both;
  text-align: center;

  .pager__item {
    position: relative;
    display: inline-block;
    height: $pager-item-height;
    width:  100px;
    font-size:$pager-item-font-size;
    font-family: $p-type--all-font;
    color: $white-brand;
    text-align: center;
    padding: $pager-item-padding;
    margin: $pager-item-margin;
    z-index: 999;
    cursor: pointer;

    &:before {
      position:absolute;
      color: $grey-dark;
      z-index: -1;
      left: $pager-icon-font-position-left;
      top: $pager-icon-font-position-top;
      @extend .icon;
      @extend .icon--large;
    }

    a {
      padding: $pager-padding;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
      text-decoration: none;
      cursor: pointer;
      width:100%;
      display:inline-block;
    }

    // All pager numbers
    &.pager__number {
      color: white;
      &:before {
        @extend .icon-close-circle-hover;
      }

      &:hover {
        color: $grey-dark;
        &:before {
          @extend .icon-close-circle;
        }
      }
    }

    // Current pager number
    &.pager__item--current {
      color: $grey-dark;
      padding: $pager-padding;
      font-weight: $pager-emphasis-font-weight;

       &:before {
        color: $grey-dark;
          @extend .icon-close-circle;
      }
    }

    // Ellipsis
    &.pager__item--ellipsis {
      color: $grey-dark;
      cursor: default;
    }

    // All pagination arrows
    &.pager__item--arrows {
      &:before {
        @extend .icon;
        @extend .icon--large;
        position:absolute;
        color: $grey-dark;
        left: $pager-icon-font-position-left;
        top: $pager-icon-font-position-top;
      }

      &:hover {
        &:before {
          font-weight: $pager-emphasis-font-weight;
        }
      }

      a {
        // Hide actual text as we're using the icon font
        color: transparent;
      }
    } 

    &.pager__item--first {
      &:before{
        @extend .icon-rewind;
      }
    }

    &.pager__item--last {
      &:before{
        @extend .icon-fast-forward;
      }
    }

    &.pager__item--next {
      float: right;
      &:before{
        @extend .icon-arrow-right;
        padding-left: 75%;

      }
      &:after{
        content: "Next";
        position: absolute;
        top: 6px;
        right:20px;
        color: $grey-dark;
        z-index: -1;
      }
    }
    
    &.pager__item--previous {
      float: left;
      &:before{
        @extend .icon-arrow-left;
        padding-right: 75%;
      }
      &:after{
        content: "Previous";
        position: absolute;
        top: 6px;
        left:30px;
        color: $grey-dark;
        z-index: -1;
      }
    }
  }
}


/*
 * Small (and above) breakpoint - resets a few XS-specific styles
 */
@include breakpoint($screen-sm) {
  .pager {
    .pager__item {
      width:  $pager-item-width;
      &.pager__item--previous,
      &.pager__item--next {
        float: none;
        &:before{
          padding: 0;
        }
        &:after{
          margin: 0;
          content: none;
        }
      }
      a {
        width:auto;
        display:inline;
      }
    }
  }
}