/*
 * _tabs.scss
 * Tabs SASS Component Styling
 * Author: A.Phipps
 * Last updated: 10th September 2014
*/

.tabs__wrapper {
  padding: 0;

  .tabs__content__wrapper{
    margin: 0;
  }

  ul.tabs__list {  
    list-style:none;
    padding:15px 0 0 0;
    margin: 0 0 45px 0;
    text-align: center;

    li.tabs__list-item {
      display:inline-block;
      margin: 0 15px 15px 15px;

      a.tabs__button {
        font-family: $p-type--all-font;
        width:$tabs--xs-width;
        max-width:$tabs--xs-width;
        height:$tabs--xs-height;
        padding: 0 10px;
        font-size: $md-p;
        line-height:20px;
        display:table-cell !important;
        white-space: normal;
      }

      &.active a.tabs__button {
        background-color: $red-brand;
        color: $white-brand;
        @extend .type--semibold;
      }
    } 
  }
}


@include breakpoint($screen-sm) {
  .tabs__wrapper {
    ul.tabs__list {
        margin:0;
        margin-bottom:45px;
        text-align: left;
      li.tabs__list-item {
        a.tabs__button {
          padding: 0 20px;
          max-width:$tabs--sm-width;
          width:$tabs--sm-width;
          height:$tabs--sm-height;
        }
      } 
    }
  }
}

@include breakpoint($screen-md) {
  .tabs__wrapper {
    ul.tabs__list {
      margin-bottom:45px;
      li.tabs__list-item {
        a.tabs__button {
          max-width:$tabs--md-width;
          width:$tabs--md-width;
          height:$tabs--md-height;
        }
      } 
    }
  }
}

@include breakpoint($screen-lg) {
  .tabs__wrapper {
    ul.tabs__list  {
      margin-bottom:45px;
      li.tabs__list-item {
        a.tabs__button {
          max-width:$tabs--lg-width;
          width:$tabs--lg-width;
          height:$tabs--lg-height;
        }
      } 
    }
  }
}