/**
 * PB: 20/8/14
 *
 * Button colour variation variables.
 *
 * See 
 *  - ../components/_button.scss for implementation.
 *  - ../mixins/_button.scss for the mixin that applies the colour variation classes.
 */
 
 /**
 * Parameters
 * $button[1] = name
 * $button[2] = background-color
 * $button[3] = background-color for hover & focus
 * $button[4] = text color
 * $button[5] = ghost text color for hover and focus
 */
$buttonList: (
  ("pink" $pink-brand $pink-v-dark $white-brand $pink-brand),
  ("green" $green-brand $green-v-dark $white-brand $green-brand),
  ("orange" $orange-brand $orange-v-dark $white-brand $orange-brand),
  ("red" $red-brand $red-v-dark $white-brand $red-brand),
  ("purple" $purple-brand $purple-v-dark $white-brand $purple-brand),
  ("blue" $blue-brand $blue-v-dark $white-brand $blue-brand),
  ("aqua" $aqua-brand $aqua-v-dark $white-brand $aqua-brand),
  ("green" $green-brand $green-v-dark $white-brand $green-brand),
  ("yellow" $yellow-brand $yellow-v-dark #754823 #754823), // #754823 isn't a brand color. This is just here for accessibility.
  ("grey" $grey-dark #272727 $white-brand $grey-dark),     // #272727 isn't a brand color. This is just here for accessibility.
  ("black" $black-brand $grey-dark $white-brand $black-brand),
  ("light-grey" $grey-v-light $grey-brand $black-brand $white-brand), // Added specifically for tabs -Andy P
  ("blue--fb" $blue-v-dark $blue-brand $white-brand $blue-v-dark) // Added specifically for Donate Thank You FB button -Matt W
);

/**
 * Variables for iTunes button images.
 */
$button-image--itunes    : image-url("button/btn--itunes.png");
$button-image--itunes-2x : image-url("button/btn--itunes@2x.png");