/*
 * _cookie-banner.scss
 * Cookie Banner variables
 * Author: P.Brady
 * Last updated: 12th September 2014
 */

$cookie-banner-agree-size: 48px;
$cookie-banner-agree-size-sm: 42px;
$cookie-banner-agree-size-md: 38px;