/*
 * _donate-partners.scss
 * Donate Partners Variables
 * Author: M.Wagg
 * Last updated: 14th November 2014
 */

$margin-16:             16px;
$margin-20:             20px;
$margin-30:             30px;

$padding-donate-info:   40px 0 0;

$logo-image:            "donate/logos.png";
$logo-height:           76px;

$logo--frsb-bg:         0 -52px;
$logo--frsb-width:      164px;

$logo--worldpay-bg:     0 -128px;
$logo--worldpay-width:  126px;

$logo--caf-bg:          0 32px;
$logo--caf-width:       184px;

$logo--digicert-bg:     0 -208px;
$logo--digicert-width:  112px;