/*
 * _pane-filter.scss
 * Pane Filter Variables
 * Author: A.Phipps
 * Last updated: 28th January 2015
 */
 
$pane-filter-group-margin : 10px;
$pane-filter-group-last-margin : 50px;

$pane-filter-group-buttons-padding--sm: 20px 30px 30px 30px;
$pane-filter-group-buttons-padding--md: 30px;

$pane-filter-group-description-line-height: 20px;
$pane-filter-group-description-font-size: 18px;
$pane-filter-group-description-font-size--md: 16px;
$pane-filter-group-description-padding--sm: 30px 30px 0 30px;
$pane-filter-group-description-padding--md: 45px 0 45px 30px;

$pane-filter-button-height--sm : 50px;
$pane-filter-button-width--sm : 130px;
$pane-filter-button-width--md : 150px;
$pane-filter-button-width--lg : 195px;

$pane-filter-button-padding--sm: 15px 0;
$pane-filter-button-margin--sm: 0 20px 0 0;
$pane-filter-button-fontweight: 300;

/* Kids Idea Generator specific styles */
