/*
 * _pane-image.scss
 * Pane Image Variables
 * Author: M.Wagg
 * Last updated: 10th September 2014
 */
 
// Pane-image Padding Variables in all available breakpoints 
$pane-image-padding:    0 15px 40px;
$pane-image-padding-sm: 0 0 50px;
$pane-image-padding-md: 0;

// Padding for Row Center
$pane-image-padding-row-center:      0 0 40px;

// Padding for Multiple Messages
$pane-image-padding-row-multiple:               60px 0 30px;
$pane-image-padding-row-multiple-sm:            40px 0 40px;
$pane-image-padding-row-multiple-first-top:     40px;
$pane-image-padding-row-multiple-first-bottom:  30px;

// Padding for Small Copy
$pane-image-padding-small-copy:    0 15px 30px;
$pane-image-padding-small-copy-sm: 0 0 50px;
$pane-image-padding-small-copy-md: 0;