/*
 * _search.scss
 * Search Variables
 * Author: M.Wagg
 * Last updated: 12th February 2015
 */

$search-view-padding-bottom:                        74px;

$search-tabs-buttons-padding-bottom:                30px;

$search-frost-link-padding-bottom:                  30px;

$search-view-empty-padding-top:                     30px;

$search-input-font-size:                            24px;
$search-input-padding:                              15px;
$search-input-border-focus:                         1px;

$search-button-margin-top:                          6px;

$search-results-min-height:                         206px;
$search-results-total-padding-bottom:               30px;
$search-results-total-padding-top:                  86px;
$search-results-copy-padding-bottom:                25px;
$search-results-copy-padding-top:                   25px;
$search-results-icon-height:                        28px;
$search-results-icon-margin-top:                    27px;
$search-results-icon-width:                         30px;
$search-results-bg-position-shop:                   -85px -36px;
$search-results-bg-position-video:                  -235px -36px;
$search-results-bg-position-news-article:           -385px -36px;
$search-results-bg-position-media-image:            -535px -36px;
$search-results-bg-position-page-manager:           -685px -36px;
$search-results-bg-position-downloadable:           -836px -36px;

$search-results-icon-bg-image:                      "search/Category_Sprite_v3.gif";
$search-results-icon-bg-size-highres:               475px 125px;
$search-results-icon-width-highres:                 28px;
$search-results-bg-position-shop-highres:           -48px -74px;
$search-results-bg-position-video-highres:          -122px -74px;
$search-results-bg-position-news-article-highres:   -198px -74px;
$search-results-bg-position-media-image-highres:    -273px -74px;
$search-results-bg-position-page-manager-highres:   -335px -74px;
$search-results-bg-position-downloadable-highres:   -411px -74px;