/*
 * _tabs.scss
 * Tabs SASS Component Variables
 * Author: Andy E. Phipps
 * Last updated: 11th September 2014
 */

/**
 * Defines variables used for tabs
 */

$tabs--xs-width: 115px;
$tabs--xs-height: 100px;

$tabs--sm-width: 150px;
$tabs--sm-height: 100px;

$tabs--md-width: 210px;
$tabs--md-height: 60px;

$tabs--lg-width: 270px;
$tabs--lg-height: 60px;