@font-face {
	font-family: 'fr-icons';
	src:url('fr-icons.eot');
	src:url('fr-icons.eot?#iefix') format('embedded-opentype'),
		url('fr-icons.woff') format('woff'),
		url('fr-icons.ttf') format('truetype'),
		url('fr-icons.svg#fr-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'fr-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-icons_ideas_47, .icon-icons_ideas_46, .icon-icons_ideas_45, .icon-icons_ideas_44, .icon-icons_ideas_43, .icon-icons_ideas_42, .icon-icons_ideas_41, .icon-icons_ideas_40, .icon-icons_ideas_39, .icon-icons_ideas_38, .icon-icons_ideas_37, .icon-icons_ideas_36, .icon-icons_ideas_35, .icon-icons_ideas_34, .icon-icons_ideas_33, .icon-icons_ideas_32, .icon-icons_ideas_31, .icon-icons_ideas_30, .icon-icons_ideas_29, .icon-icons_ideas_28, .icon-icons_ideas_27, .icon-icons_ideas_26, .icon-icons_ideas_25, .icon-icons_ideas_24, .icon-icons_ideas_23, .icon-icons_ideas_22, .icon-icons_ideas_21, .icon-icons_ideas_20, .icon-icons_ideas_19, .icon-icons_ideas_18, .icon-icons_ideas_17, .icon-icons_ideas_16, .icon-icons_ideas_15, .icon-icons_ideas_14, .icon-icons_ideas_13, .icon-icons_ideas_12, .icon-icons_ideas_11, .icon-icons_ideas_10, .icon-icons_ideas_9, .icon-icons_ideas_8, .icon-icons_ideas_7, .icon-icons_ideas_6, .icon-icons_ideas_5, .icon-icons_ideas_4, .icon-icons_ideas_3, .icon-icons_ideas_2, .icon-icons_ideas_1, .icon-icons_ideas_48 {
	font-family: 'fr-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-icons_ideas_47:before {
	content: "\e000";
}
.icon-icons_ideas_46:before {
	content: "\e001";
}
.icon-icons_ideas_45:before {
	content: "\e002";
}
.icon-icons_ideas_44:before {
	content: "\e003";
}
.icon-icons_ideas_43:before {
	content: "\e004";
}
.icon-icons_ideas_42:before {
	content: "\e005";
}
.icon-icons_ideas_41:before {
	content: "\e006";
}
.icon-icons_ideas_40:before {
	content: "\e007";
}
.icon-icons_ideas_39:before {
	content: "\e008";
}
.icon-icons_ideas_38:before {
	content: "\e009";
}
.icon-icons_ideas_37:before {
	content: "\e00a";
}
.icon-icons_ideas_36:before {
	content: "\e00b";
}
.icon-icons_ideas_35:before {
	content: "\e00c";
}
.icon-icons_ideas_34:before {
	content: "\e00d";
}
.icon-icons_ideas_33:before {
	content: "\e00e";
}
.icon-icons_ideas_32:before {
	content: "\e00f";
}
.icon-icons_ideas_31:before {
	content: "\e010";
}
.icon-icons_ideas_30:before {
	content: "\e011";
}
.icon-icons_ideas_29:before {
	content: "\e012";
}
.icon-icons_ideas_28:before {
	content: "\e013";
}
.icon-icons_ideas_27:before {
	content: "\e014";
}
.icon-icons_ideas_26:before {
	content: "\e015";
}
.icon-icons_ideas_25:before {
	content: "\e016";
}
.icon-icons_ideas_24:before {
	content: "\e017";
}
.icon-icons_ideas_23:before {
	content: "\e018";
}
.icon-icons_ideas_22:before {
	content: "\e019";
}
.icon-icons_ideas_21:before {
	content: "\e01a";
}
.icon-icons_ideas_20:before {
	content: "\e01b";
}
.icon-icons_ideas_19:before {
	content: "\e01c";
}
.icon-icons_ideas_18:before {
	content: "\e01d";
}
.icon-icons_ideas_17:before {
	content: "\e01e";
}
.icon-icons_ideas_16:before {
	content: "\e01f";
}
.icon-icons_ideas_15:before {
	content: "\e020";
}
.icon-icons_ideas_14:before {
	content: "\e021";
}
.icon-icons_ideas_13:before {
	content: "\e022";
}
.icon-icons_ideas_12:before {
	content: "\e023";
}
.icon-icons_ideas_11:before {
	content: "\e024";
}
.icon-icons_ideas_10:before {
	content: "\e025";
}
.icon-icons_ideas_9:before {
	content: "\e026";
}
.icon-icons_ideas_8:before {
	content: "\e027";
}
.icon-icons_ideas_7:before {
	content: "\e028";
}
.icon-icons_ideas_6:before {
	content: "\e029";
}
.icon-icons_ideas_5:before {
	content: "\e02a";
}
.icon-icons_ideas_4:before {
	content: "\e02b";
}
.icon-icons_ideas_3:before {
	content: "\e02c";
}
.icon-icons_ideas_2:before {
	content: "\e02d";
}
.icon-icons_ideas_1:before {
	content: "\e02e";
}
.icon-icons_ideas_48:before {
	content: "\e02f";
}
