/*
 * _esu-header.scss
 * Site ESU Header
 * Author: J.Pitt
 * Last updated: 7th September 2014
 */

/*
 * Generic Styles
 */
.esu-header__container {
  position: relative;
}
.esu-header {
  position: absolute;
  right: 0;
  top: 0;
  width: $esu-header-width-xs;
  max-height: 0;
  background-color: $esu-header-touch-background-color;
  overflow: hidden;
  @include opacity(0);
  @include transition(overflow 0ms linear 0,max-height 0ms linear $esu-header-transition-fade-in-duration,opacity $esu-header-transition-fade-in-duration linear);

  // Opens the ESU Header
  &.open {
    max-height: $esu-header-animation-max-height;
    @include opacity(1);
    @include transition-delay(0);
  }

  // Opened is trigger after the max height transition has ended
  &.opened {
    overflow: visible;
  }

  // Form
  form {
    width: $esu-header-form-width;
    margin: 0 auto;
    .form-item {
      width: $esu-header-input-width;
      margin: 0;
      float: left;
      input {
        width: 100%;
        box-sizing: border-box;
        font-size: $esu-header-input-font-size;
        // Error should be pulled through from the default form styling
        &.error {
          border: 1px solid $red-brand;
          padding: 15px;
        }
      }
    }
    .form-submit {
      width: $esu-header-btn-width;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
    // Hides the default AGE GROUP text which we do not need
    .dk-select #dk0- {
      display: none;
    }
    .dk-select,
    .form-type-select {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  // ESU Error Messages
  .messages {
    text-align: center;
    margin-bottom: 0px;
    padding: 25px 0 0 0;
  }
}

/*
 * Components
 */
.esu-header__title {
  margin: $esu-header-title-padding;
}

.esu-header__content {
  padding: $esu-header-content-padding;
}

.esu-header__dk-select-label {
  text-align: center;
}

a.esu-header__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  text-decoration: none;
  &:before {
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: $esu-header-close-font-size;
    top: 0;
    right: 3px;
    color: $esu-header-close-color;
  }
  &:hover:before {
    color: $esu-header-close-color-hover;
  }
}
span.esu-header__close-text {
  text-indent: -9999px;
  display: block;
  line-height: 0;
}

// Hide sub titles so we can show specific touch/non-touch ones
.esu-header__sub-title-no-touch,
.esu-header__sub-title-touch {
  display: none;
}

/*
 * Touch Menu
 */
html.touch {
  a.esu-header__close,
  a.esu-header__close:before {
    display: none;
  }
  .esu-header form {
    width: $esu-header-width - (2*$esu-header-content-padding-sides);
    margin: 0 auto;
  }
  .esu-header__title,
  .esu-header__dk-select-label {
    color: $esu-header-touch-text-color;
  }
  .esu-header__sub-title {
    color: $esu-header-touch-text-color;
    a {
      @include inline-link-colors($grey-brand, $grey-dark);
    }
  }
}

/*
 * Non-Touch Menu
 */
html.no-touch {
  .esu-header {
    background-color: $esu-header-no-touch-background-color;
    @include transition(max-height 0ms linear $esu-header-transition-fade-in-duration-no-touch,opacity $esu-header-transition-fade-in-duration-no-touch linear);
  }
  .esu-header__title,
  .esu-header__dk-select-label {
    color: $esu-header-no-touch-text-color;
  }
  .esu-header__sub-title {
    color: $esu-header-no-touch-text-color;
    a {
      @include inline-link-colors($white-brand, $grey-light);
      border-bottom: $link-border solid $grey-light;
      color: $white-brand;
      text-decoration: none;
      @include transition-property(border, color);
      @include transition-duration(180ms);
      &:hover {
        border-bottom: $link-border-hover solid $grey-light;
        color: $grey-light;
      }
      &:active {
        border-bottom: $link-border-hover solid $grey-light;
        border-color: darken( $grey-light, 20% );
        color: $white-brand;
      }
      &:focus {
        border-bottom: $link-border-hover solid $grey-light;
        color: $grey-light;
      }
    }
  }
}

/*
 * Second Step
 */
form.cr-marketing-prefs-header-form-teacher {
  // Make btn full width as it should be
  .form-submit {
    display: block;
    width: 100%;
  }
  .form-item {
    width: 100%;
    float: none;
  }
}

/*
 * Small breakpoint
 */
@include breakpoint($screen-sm) {
  .esu-header {
    right: 0;
    top: 0px;
    width: $esu-header-width;
  }
  .esu-header__container {
    width: 720px;
  }
}

@include breakpoint($screen-md) {
  .esu-header {
    right: 10px;
    top: 0;
    width: $esu-header-width;
  }
  .esu-header__container {
    width: 960px;
  }
}

/*
 * ESU Header Breakpoint
 */
@include breakpoint($esu-header-breakpoint) {
  .esu-header {
    right: 15px;
  }
  html.touch .esu-header {
    right: 115px;
  }
  .esu-header__container {
    width: 960px;
  }
}


@include breakpoint($screen-lg) {
  .esu-header {
    right: 10px;
    top: 0;
    width: $esu-header-width;
  }
  .esu-header__container {
    width: 1150px;
  }
}
