/*
 * _giftaid.scss
 * Form component giftaid styles
 * Author: M.Wagg
 * Last updated: 13th January 2015
 */

/**
 * Specific Giftaid form styling
 */

.giftaid__phone-input {
  input {
    margin-bottom: $phone-input-margin-bottom;
    margin-top: $phone-input-margin-top;
  }
}

.giftaid__checkbox {
  text-align: center;
}
