/*
 * _node-images.scss
 * Node Image Styles
 * Author: P.Brady
 * Last updated: 19th January 2015
 */
/**
 * Image gradients.
 */
.node-image--gradient-60 span[data-picture]:before {
  // Apply the gradient.
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  @include background-image(linear-gradient(to top, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 0)));  
}
