/**
 * PB: 15/8/2014
 * 
 * Modernizr adds the .svg class to the html element if the browser
 * supports SVG.
 *
 * So, we hide SVG panes by default and show the fallback PNG field.
 * 
 * If the browser DOES support SVG's, we display the SVG field and hide the fallback PNG field.
 */

.panel-pane.pane--cols .pane-svg {
  padding-left: 0;
  padding-right: 0;
}

.pane-svg {
  // Reset max-width to none for the SVG image and
  // apply 100% width.
  span[data-svg] img {
    width: 100%;
    max-width: none;
  }
  
  // Hide the field that contains the SVG file
  .field--name-field-site-svg   { display: none; }
  
  // Show the SVG fallback field, by default
  .field--name-field-site-image { display: block; }
}

/**
 * Show SVG panes if Modernizr has added the .svg class to the body
 */
html.svg {
  .pane-svg {
    // Show the field that contains the SVG file
    .field--name-field-site-svg { display: block; }
    
    // Hide the SVG fallback field and data-picture
    .field--name-field-site-image,
    .field--name-field-site-image span[data-picture] {
      display: none;
    }
  }
}