/*
 * _interstitial.scss
 * Interstitial Settings
 * Author: J.Pitt
 * Last updated: 3rd October 2014
 */
$interstitial-overlay-bg-color: $red-brand;
$interstitial-background-bg-color: $black-brand;
$interstitial-background-bg-opacity: 0.7;

$interstitial-overlay-xs-content-padding: 0 40px;
$interstitial-overlay-xs-height: 400px;
$interstitial-overlay-xs-width: 290px;

$interstitial-overlay-sm-height: 250px;
$interstitial-overlay-sm-width: 512px;