/**
 * Link
 */

 /* font colours */

 $color:	inherit;

 /* font sizes */

 $link-size: 	inherit;

 /* border size */

 $link-inline-border:   3px;
 $link-border-hover:    2px;
 $link-border:          1px;

/* Back, next and previous links*/

$link-font-size: 14px;
$link-icon-font-size: 40px;
$link-back-and-previous-padding: 20px;
$link-back-and-previous-position: -15px;
$link-back-next-and-previous-font-weight: 600;
$link-back-next-and-previous-top-position: -12px;