/*
 * _pane-media-wall.scss
 * Pane Media Wall Variables
 * Author: J.Pitt
 * Last updated: 4th February 2015
 */

// Type Styles
$media-wall-xs-title-size: $p-type--sm;
$media-wall-xs-title-line-height: $p-type--sm-height;
$media-wall-xs-title-weight: 600;
$media-wall-xs-title-color: $black-brand;
$media-wall-xs-title-margin: -2px 0 3px;

$media-wall-xs-paragraph-size: $p-type--sm;
$media-wall-xs-paragraph-line-height: $p-type--sm-height;
$media-wall-xs-paragraph-color: $body-type--color;

$media-wall-sm-title-margin: 0 0 20px;
$media-wall-sm-caption-padding: 0 23px;
$media-wall-sm-color: $white-brand;
$media-wall-sm-paragraph-padding-bottom: 18px;
$media-wall-sm-paragraph-size:  $p-type--sm;
$media-wall-sm-paragraph-line-height: $p-type--sm-height;
$media-wall-sm-title-size: 18px;
$media-wall-sm-title-line-height: 21px;
$media-wall-sm-title-margin-bottom: 15px;

$media-wall-md-paragraph-padding-bottom: 22px;
$media-wall-md-text-padding-left: 8px;
$media-wall-md-text-padding-right: 8px;

// Caption Sliding
$media-wall-caption-slide-timing: 180ms;
$media-wall-caption-padding-top: 45px;
$media-wall-caption-gradient: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));