/*
 * _row.scss
 * Row Variables
 * Author: M.Wagg
 * Last updated: 10th September 2014
 */
 
/* Row Padding Variables in all available breakpoints */
$row-padding:       60px 0;
$row-padding-sm:    80px 0;
$row-padding-md:    100px 0;
$row-padding-lg:    100px 0;

/* Extra Small Row Padding variables in all available breakpoints */
$row-extra-small-padding: 30px;

/* Small Row Padding variables in all available breakpoints */
$row-small-padding: 60px;

/* Search result Row margin variables in all available breakpoints */
$row-search-margin:                 16px;
$row-search-term-padding-bottom:    20px;
$row-search-term-padding-bottom-sm: 2px;
$row-search-term-padding-top:       20px;