/*
 * _vertical-centre.scss
 * Vertical Centre mixin Styles
 * Author: M.Wagg
 * Last updated: 16th December 2014
 */

/**
 * Mixin for any element that is required to be vertically centred
 * If you get any weird problems use the below CSS on the parent:
 * -webkit-transform-style: preserve-3d;
 * -moz-transform-style: preserve-3d;
 * transform-style: preserve-3d;
 */
 %vertical-centre {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}