/**
 * PB: 20/8/14
 *
 * Mixin to add colour variations to buttons.
 *
 * see 
 *  - ../components/_button.scss for implementation.
 *  - ../variables/components/_button.scss for colour variations in $buttonList.
 */

/**
 * Parameters
 * $button[1] = name
 * $button[2] = background-color
 * $button[3] = background-color for hover & focus
 * $button[4] = text color
 */
@mixin btn-variation($button){
  // Makes .btn-green etc
  .btn-#{nth($button, 1)},
  input[type="button"].btn-#{nth($button, 1)}, 
  input[type="submit"].btn-#{nth($button, 1)} {
    // Applies $green-brand etc.
    background-color: nth($button, 2);
    color: nth($button, 4);
    &:hover,
    &:focus {
      outline: none;
      // Applies $green-v-dark etc.
      background-color: nth($button, 3);
      color: nth($button, 4);
    }
    &:active {
    // :active is 4% than $green-v-dark etc.
     background-color: darken(nth($button, 3), 4%); 
    }
    &.btn-ghost:hover {
      // Applies $green-brand etc. to .btn text
      color: nth($button, 5);
    }
  }
}