@function calc-nav-top-padding($lineheight, $headerheight, $offset) {
  @return ($headerheight / 2) - ($lineheight / 2) - $offset;
}

@mixin nav-touch-link-states($link-attributes) {
  @each $link in $link-attributes {

    // (":hover" $grey-dark #f9f9f9 2px transparent),    
    $selector: nth($link, 1);
    $color: nth($link, 2);
    $background-color: nth($link, 3);
    $border-width: nth($link, 4);
    $border-color: nth($link, 5);

    // Add selector if we have one
    &#{$selector} {
      // Add bg if we have one
      @if $background-color != false {
        background-color: $background-color;
      }
      
      // Text Element
      > span {
        color: $color;
        border-bottom: $border-width solid $border-color;
      }

    } 
  }
}

@mixin nav-css-triangle() {
  // Little Triangle
  &:before {
    content: '';
    width: $nav-triangle-width;
    height: $nav-triangle-height;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -($nav-triangle-width/2);
    top: -$nav-triangle-height;
    @include transition-property(border);
    @include transition-duration(180ms);

    border: 6px solid transparent;
    border-bottom-color: $nav-triangle-color;
  }
  &:hover:before {
    border-bottom-color: $nav-triangle-color-hover;
  }
  &:active:before {
    border-bottom-color: $nav-triangle-color-active;
  }
  &.active:before {
    border-bottom-color: $nav-triangle-color-selected;
  }
  &.active:hover:before {
    border-bottom-color: $nav-triangle-color-selected-hover;
  }
  &.active:active:before {
    border-bottom-color: $nav-triangle-color-selected-active;
  }
  
}