/*
 * _panel_transitions_flip.scss
 * Transition Flip Mixin
 * Author: P.Brady
 * Last updated: 17th September 2014
 */

/**
 * Parameters
 * $speed:       speed of transition
 * $perspective: 3d perspective value to apply for supporting browsers
 * $degrees:     degree of animation
 */

@mixin flip($speed: 0.4s, $perspective: 500, $degrees: 180deg) {
  display: block;
  position: relative;
  .front,
  .back {
    @include transition(all $speed ease-out);
    @include backface-visibility(hidden);
    @include transform-style(preserve-3d);
    display: block;
    cursor: pointer;
  }

  .front { position: relative; }
  .back { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .no-csstransforms3d & {
      visibility: hidden;
    }
  }

  .front {
    @include transform3d(perspective($perspective) rotateY(0));
  }

  .back {
    @include rotateY(-180deg);
  }

  &:hover {
    .front { 
      @include transform(rotateY($degrees)); //No 3D fallback
      @include rotateY($degrees);
      .no-csstransforms3d & {
        visibility: hidden;
      }
    }
    .back { 
      @include transform(rotateY(0)); //No 3D fallback
      @include transform3d(perspective($perspective) rotateY(0));
      .no-csstransforms3d & {
        visibility: visible;
      }
    }
  }
}

.flip {
  &.flip-instant {
    @include flip(0s, 0);
  }
  &.flip-left {
    @include flip(0.5s, 500, 180deg);
  }
  &.flip-right {
    @include flip(0.5s, 500, -180deg);
  }
}
