/*doc
---
title: Badge
name: Badge
category: Badge
---

##Usage 
Add the 'badge' and 'badge--*VARIANT*' classes to a relativelty positioned element to receive a nifty tag, made with
pure CSS. Because of IE8's issues with :afters, :befores and z-indexing, these are hidden on that particular browser.

This element will also need to be free of any other :before or :after pseudo elements in order to work.
<br/><br/>


Type                                                                                                                   | Modifier Class
---------------------------------------------------------------------------------------------------------------------- | ----------------
<div class="badge badge--video" style="width:150px; height:150px; background-color:#C0C0C0;position:relative;"></div>   |'.badge .badge--video'
<div class="badge badge--event" style="width:150px; height:150px; background-color:#C0C0C0;position:relative;"></div>   |'.badge .badge--event'
<div class="badge badge--photo" style="width:150px; height:150px; background-color:#C0C0C0;position:relative;"></div>   |'.badge .badge--photo'
<div class="badge badge--news" style="width:150px; height:150px; background-color:#C0C0C0;position:relative;"></div>    |'.badge .badge--news'
*/

/*
 * _badge.scss
 * Badge Component
 *
 * Now provides badges (Image, Photo, Video, Event) using pure CSS
 * 
 * Author: A.Phipps
 * Last updated: 26th February 2015
 */

/* Need to apply these to a child element (field--type-image) to not screw with the node-image--gradient class 
 * when its applied to the same element as the badge class */
.badge {

  text-decoration: none;

  &:before {
    position: absolute;
    content: "";
    width: $badge-width--xs;
    top: $badge-position-top--xs;
    border-top: $badge-border-top--xs solid $red-brand;
    border-right: $badge-border-right--xs solid rgba(0,0,0,0);
    z-index:100;
    text-decoration: none;
  }  
  &:after {
    position: absolute;
    top: $badge-position-top--xs;
    padding: $badge-padding--xs;
    color: $white-brand;
    content: "";
    font-size: $badge-font-size--xs;
    line-height: $badge-line-height--xs;
    font-family: $p-type--all-font;
    text-decoration: none;
    z-index:101;
  }
}

/* Badge variants */
.badge--video {
  &:after {
    content: $badge--video--text;
  }
}

.badge--news {
  &:after {
    content: $badge--news--text;
  }
}

.badge--event {
  &:after {
    content: $badge--event--text;
  }
}

.badge--photo {
  &:after {
      content: $badge--photo--text;
    }
}

.badge--photo--count-one {
  &:after {
    content: $badge--photo--count-one--text;
  }
}

.badge--photo--count-two {
  &:after {
    content: $badge--photo--count-two--text;
    &:after {
      content: "foo";
    }
  }
}

.badge--photo--count-three {
  &:after {
    content: $badge--photo--count-three--text;
  }
}

/*
 * Medium breakpoint
 */
@include breakpoint($screen-md) {
  .badge {
    &:before {
      top: $badge-position-top--md;
      width: $badge-width--md;
      border-top: $badge-border-top--md solid $red-brand;
    }
    &:after {
      top: $badge-position-top--md;
      font-size: $badge-font-size--md;
      line-height: $badge-line-height--md;
    }
  }
}

/*
 * Large breakpoint
 */
@include breakpoint($screen-lg) {
  .badge {
    &:before {
      width: $badge-width--lg;
      border-top: $badge-border-top--lg solid $red-brand;
    }
    &:after {
      font-size: $badge-font-size--lg;
      line-height: $badge-line-height--lg;
    }
  }
}
