/*
 * _lists.scss
 * List Styles
 * Author: M.Wagg
 * Last updated: 8th September 2014
 */

/* doc
---
title: Lists
name: lists
category: Lists
---

The following classes for the list component respond to all breakpoints.

The list styles are created in HTML by adding the required list class modifiers to an `<ul>` and/or `<li>`.

Classes can be added to the `<ul>` to increase size of type, font styling etc via examples below. For a full list of variations, please see 'Type' in the styleguide.

See the examples below.

###List class

  Classes to use            |             Example of use                                                       |   HTML              
 -------------------------- | -------------------------------------------------------------------------------- | ----------------------------------------------------------------------------------
 .list                      | <ul class="list"><li>Lorem ipsum</li><li>Lorem ipsum</li></ul>                   | `<ul class="list"><li>Lorem ipsum</li><li>Lorem ipsum</li></ul>` 

*/


.list {
  list-style: none;
  padding: 0 0 0 20px;
}

.list li {
  font-family: $p-type--all-font;
  font-size: $p;
  font-weight: $weight;
  line-height: $p-height;
  padding: 0 0 0 30px;
  position: relative;
}

@include breakpoint($screen-sm) {
  .list li {
    line-height: $sm-p-height;
  }
}

@include breakpoint($screen-md) {
  .list li {
    font-size: $md-p;
    line-height: $md-p-height;
  }
}

@include breakpoint($screen-lg) {
  .list li {
    font-size: $lg-p;
    line-height: $lg-p-height;
  }
}

.list li:before {
  @extend .icon;
  color: $red-brand;
  content: nth(nth($iconlist,27),2);
  font-size: 14px;
  left: -3px;
  padding: 0 16px 0 0;
  position: absolute;
  top: 4px;
}

.list--plain li:before {
  content: '';
  display: none;
}

.list--no-padding { 
  padding: 0px;
  li {
    padding: 0px;
  }
} 