/*
 * _media-wall.scss
 * Media Wall SASS Component
 * Author: A.Phipps
 * Last updated: 5th February 2015
 */

.media-wall {
  .no-padding,
  .pane-image--content {
    padding: 0;
  }

  .flip.flip-instant,
  .transition-flip--tool {
    margin-bottom:0px;
  }

  .media-wall__region {
    margin-bottom: 15px;
  }

  /* Hide all media wall badges on XS */
  .badge {
    &:before,
    &:after {
      display: none;
    }
  }
}

/**
 * Small breakpoint
 */
@include breakpoint($screen-sm) {
  .media-wall {
    .media-wall__region {
      margin-bottom: 30px;
    }

    .media-wall__region-2,
    .media-wall__region-3 {
      /* Hide where the badge won't fit in regions too small */
      .badge {
        &:before,
        &:after {
          display: none;
        }
      }
      /* Hide the Descriptions in regions which are too small due to aspect ratio */
      .pane-media-wall__paragraph {
        display: none;
      }
    }

    /* Show all media wall badges on sm and above */
    .badge {
      &:before,
      &:after {
        display: block;
      }
    }
  }
}