/*
 * _otn-banner.scss
 * OTN Banner Styling
 * Author: J.Wang
 * Last updated: 27th February 2015
 *
 */
.otn-banner {
  margin: 30px auto;
  div + div {
    margin-bottom: 20px
  }
}
.otn-banner__img { 
  width: 170px; 
  height: 146px; 
  background-size: 170px 146px;
  background-position: center top;
  background-repeat: no-repeat;
}
.otn-banner__after {
  .otn-banner__img { 
    background-position: center -146px;
  }
}
.otn-banner__monday {
  .otn-banner__img { 
    background-position: center -292px;
  }
}
/*
 * Small breakpoint
*/
@include breakpoint($screen-sm) {
  .otn-banner {
    margin: 10px auto;
    div + div {
      margin-bottom: 0px
    }
  }
  .otn-banner__img { 
    width: 90px; 
    height: 77px; 
    background-size: 90px 231px;
  }
  .otn-banner__copy,
  .otn-banner__cta {
    margin-top: 13px;
  }
  .otn-banner__after {
    .otn-banner__img {
      background-position: center -77px;
    }
    .otn-banner__copy {
      margin-top: 0px;
    }
  } 
  .otn-banner__monday {
    .otn-banner__img { 
      background-position: center -154px;
    }
  } 
}
/*
 * Medium breakpoint
*/
@include breakpoint($screen-md) {
  .otn-banner__img { 
    width: 130px; 
    height: 111px; 
    background-size: 130px 333px;
  }
  .otn-banner__copy {
    margin-top: 43px;
  }
  .otn-banner__cta {
    margin-top: 30px;
  }
  .otn-banner__after {
    .otn-banner__img {
      background-position: center -111px;
    }
    .otn-banner__copy {
      margin-top: 31px;
    }
  }
  .otn-banner__monday {
    .otn-banner__img { 
      background-position: center -222px;
    } 
  }
}
/*
 * Large breakpoint
*/
@include breakpoint($screen-lg) {
  .otn-banner__img { 
    width: 170px; 
    height: 146px; 
    background-size: 170px 438px;
  }
  .otn-banner__copy {
    margin-top: 60px;
  }
  .otn-banner__cta {
    margin-top: 48px;
  }
  .otn-banner__after {
    .otn-banner__img {
      background-position: center -146px;
    } 
    .otn-banner__copy {
      margin-top: 43px;
    }
  }
  .otn-banner__monday {
    .otn-banner__img { 
      background-position: center -292px;
    }
  }
}
/*
 * Background image
 */
.otn-banner__img { 
  background-image: $otn-banner-bg-image;
}  
// Retina
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
  .otn-banner__img { 
    background-image: $otn-banner-bg-image-2x; 
  }
}