/*
 * _pane-media-wall.scss
 * Pane Text Sass Component
 * Author: J.Pitt
 * Last updated: 4th February 2015
 */

/**
 * General Styles
 */
.pane-media-wall {

}
.pane-media-wall--link {
  display: block;
}

/**
 * Only XS Breakpoint
 */
@include breakpoint(($screen-xs-min $screen-xs-max)) {
  .pane-media-wall__caption-content {
    // In this particular instance we CAN override the grid
    padding-left: 0;
  }
  .pane-media-wall__paragraph {
    font-size: $media-wall-xs-paragraph-size;
    line-height: $media-wall-xs-paragraph-line-height;
  }
  .pane-media-wall__title {
    font-size: $media-wall-xs-title-size;
    line-height: $media-wall-xs-title-line-height;
    font-weight: $media-wall-xs-title-weight;
    color: $media-wall-xs-title-color;
    margin: $media-wall-xs-title-margin;
  }
  .pane-media-wall--link,
  .pane-media-wall--link:visited {  
    .pane-media-wall__paragraph {
      color: $media-wall-xs-paragraph-color;
    }
  }
}

/**
 * Small Breakpoint and above
 */
@include breakpoint($screen-sm) {
  // Transition is handled via the negative bottom property set by JS
  .pane-media-wall__caption-content {
    position: relative;
    @include transition-property(bottom);
    @include transition-duration($media-wall-caption-slide-timing);
    @include transition-timing-function(ease-in);
    // And if we have RBA support, let's add a gradient
    .rgba & {
      padding-top: $media-wall-caption-padding-top;

      @include background-image($media-wall-caption-gradient);
    }
  }
  .pane-media-wall--link {
    position: relative;
    @include opacity(1);
    &:hover .pane-media-wall__caption-content {
      // Yes I know, but it's the only way we can override inline CSS!
      bottom: 0 !important;
      @include transition-timing-function(ease-out);
    }
    &:active {
      @include opacity(0.9);
    }
  }
  .pane-media-wall__row-background,
  .pane-media-wall__caption {
    margin-left: 0;
    margin-right: 0;
  }
  .pane-media-wall__caption {
    position: absolute;
    z-index: 120;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
  }
  .pane-media-wall--link .pane-media-wall__title,
  .pane-media-wall--link .pane-media-wall__paragraph {
    color: $media-wall-sm-color;
  }
  .pane-media-wall--link .pane-media-wall__title {
    margin-bottom: $media-wall-sm-title-margin-bottom;
  }
  .pane-media-wall--link .pane-media-wall__paragraph {
    color: $media-wall-sm-color;
    padding-bottom: $media-wall-sm-paragraph-padding-bottom;
  }
}

/**
 * Small Breakpoint Only
 * This is an exception, so it does not override further breakpoints
 */
@include breakpoint(($screen-sm-min $screen-sm-max)) {
  .pane-media-wall--link .pane-media-wall__title{
    font-size: $media-wall-sm-title-size;
    line-height: $media-wall-sm-title-line-height;
  }
  .pane-media-wall--link .pane-media-wall__paragraph {
    font-size: $media-wall-sm-paragraph-size;
    line-height: $media-wall-sm-paragraph-line-height;
  }
}

/**
 * Medium Breakpoint and above
 */
@include breakpoint($screen-md) {
  .pane-media-wall--link .pane-media-wall__title,
  .pane-media-wall--link .pane-media-wall__paragraph {
    padding-left: $media-wall-md-text-padding-left;
    padding-right: $media-wall-md-text-padding-right;
  }
  .pane-media-wall--link .pane-media-wall__paragraph {
    color: $media-wall-sm-color;
    padding-bottom: $media-wall-md-paragraph-padding-bottom;
  }
}