/*
 * Skip to content link
 */
a.skip-link {
  padding: 10px 0;
  margin:0;
  display: block;
  width:100%;
  text-align: center;
  background: $grey-v-light;
  border-bottom: none;
  &:hover, &:focus {
    border-bottom: none;
  }
  > span {
    border-bottom: 2px solid $black-brand;
  }
}