@font-face {
	font-family: 'sr-icons';
	src:url('fonts/sr-icons.eot?wwtjo3');
	src:url('fonts/sr-icons.eot?#iefixwwtjo3') format('embedded-opentype'),
		url('fonts/sr-icons.woff?wwtjo3') format('woff'),
		url('fonts/sr-icons.ttf?wwtjo3') format('truetype'),
		url('fonts/sr-icons.svg?wwtjo3#sr-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'sr-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icons_MASTER11_100run:before {
	content: "\e000";
}
.icon-icons_MASTER11_99location:before {
	content: "\e001";
}
.icon-icons_MASTER11_98car:before {
	content: "\e002";
}
.icon-icons_MASTER11_97bus:before {
	content: "\e003";
}
.icon-icons_MASTER11_96train-:before {
	content: "\e004";
}
.icon-icons_MASTER11_95changing-facilities:before {
	content: "\e005";
}
.icon-icons_MASTER11_94disabled-parking:before {
	content: "\e006";
}
.icon-icons_MASTER11_93disabled-toilets:before {
	content: "\e007";
}
.icon-icons_MASTER11_92parking:before {
	content: "\e008";
}
.icon-icons_MASTER11_91toilets:before {
	content: "\e009";
}
.icon-icons_MASTER11_90wheelchair-access:before {
	content: "\e00a";
}
.icon-icons_MASTER11_89dogs-allowed:before {
	content: "\e00b";
}
.icon-icons_MASTER11_88baggage-area:before {
	content: "\e00c";
}
.icon-icons_MASTER11_87linkedin:before {
	content: "\e00d";
}
.icon-icons_MASTER11_86tumblr:before {
	content: "\e00e";
}
.icon-icons_MASTER11_85instagram:before {
	content: "\e00f";
}
.icon-icons_MASTER11_84you-tube:before {
	content: "\e010";
}
.icon-icons_MASTER11_83google:before {
	content: "\e011";
}
.icon-icons_MASTER11_82twitter:before {
	content: "\e012";
}
.icon-icons_MASTER11_81facebook:before {
	content: "\e013";
}
.icon-icons_MASTER11_80pause:before {
	content: "\e014";
}
.icon-icons_MASTER11_79stop:before {
	content: "\e015";
}
.icon-icons_MASTER11_78play:before {
	content: "\e016";
}
.icon-icons_MASTER11_77date:before {
	content: "\e017";
}
.icon-icons_MASTER11_76home:before {
	content: "\e018";
}
.icon-icons_MASTER11_75login:before {
	content: "\e019";
}
.icon-icons_MASTER11_74email:before {
	content: "\e01a";
}
.icon-icons_MASTER11_73help:before {
	content: "\e01b";
}
.icon-icons_MASTER11_72fullstop:before {
	content: "\e01c";
}
.icon-icons_MASTER11_71exclamation:before {
	content: "\e01d";
}
.icon-icons_MASTER11_70arrow-down:before {
	content: "\e01e";
}
.icon-icons_MASTER11_69arrow-up:before {
	content: "\e01f";
}
.icon-icons_MASTER11_68arrow-right:before {
	content: "\e020";
}
.icon-icons_MASTER11_67arrow-left:before {
	content: "\e021";
}
.icon-icons_MASTER11_66pointer-up:before {
	content: "\e022";
}
.icon-icons_MASTER11_65pointer-down:before {
	content: "\e023";
}
.icon-icons_MASTER11_64menu:before {
	content: "\e024";
}
.icon-icons_MASTER11_63plus:before {
	content: "\e025";
}
.icon-icons_MASTER11_62cross:before {
	content: "\e026";
}
.icon-icons_MASTER11_61tick:before {
	content: "\e027";
}
.icon-icons_MASTER11_60search:before {
	content: "\e028";
}
.icon-icons_MASTER11_59zoom:before {
	content: "\e029";
}
.icon-icons_MASTER11_58music:before {
	content: "\e02a";
}
.icon-icons_MASTER11_57word-doc:before {
	content: "\e02b";
}
.icon-icons_MASTER11_56PDF:before {
	content: "\e02c";
}
.icon-icons_MASTER11_55doc:before {
	content: "\e02d";
}
.icon-icons_MASTER11_54news:before {
	content: "\e02e";
}
.icon-icons_MASTER11_53blank-doc:before {
	content: "\e02f";
}
.icon-icons_MASTER11_52thin-arrow-up:before {
	content: "\e030";
}
.icon-icons_MASTER11_51thin-arrow-down:before {
	content: "\e031";
}
.icon-icons_MASTER11_50thin-arrow-left:before {
	content: "\e032";
}
.icon-icons_MASTER11_49thin-arrow-right:before {
	content: "\e033";
}
.icon-icons_MASTER11_48cycle:before {
	content: "\e034";
}
.icon-icons_MASTER11_47swim:before {
	content: "\e035";
}
.icon-icons_MASTER11_46cirlce:before {
	content: "\e036";
}
.icon-icons_MASTER11_45video:before {
	content: "\e037";
}
.icon-icons_MASTER11_44flag-fill:before {
	content: "\e038";
}
.icon-icons_MASTER11_43share:before {
	content: "\e039";
}
.icon-icons_MASTER11_42re-direct:before {
	content: "\e03a";
}
.icon-icons_MASTER11_41basket:before {
	content: "\e03b";
}
.icon-icons_MASTER11_40HEART:before {
	content: "\e03c";
}
.icon-icons_MASTER11_39minus:before {
	content: "\e03d";
}
.icon-icons_MASTER11_38STAR:before {
	content: "\e03e";
}
.icon-icons_MASTER11_37PICTURE:before {
	content: "\e03f";
}
.icon-icons_MASTER11_36flag-line:before {
	content: "\e040";
}
.icon-icons_MASTER11_35reply:before {
	content: "\e041";
}
.icon-icons_MASTER11_34retweet:before {
	content: "\e042";
}
.icon-icons_MASTER11_33edit:before {
	content: "\e043";
}
.icon-icons_MASTER11_32challenge:before {
	content: "\e044";
}
.icon-icons_MASTER11_31merch:before {
	content: "\e045";
}
.icon-icons_MASTER11_30tv:before {
	content: "\e046";
}
.icon-icons_MASTER11_29schools:before {
	content: "\e047";
}
.icon-icons_MASTER11_28mobile:before {
	content: "\e048";
}
.icon-icons_MASTER11_27lightbulb:before {
	content: "\e049";
}
.icon-icons_MASTER11_26tools:before {
	content: "\e04a";
}
.icon-icons_MASTER11_25handytools:before {
	content: "\e04b";
}
.icon-icons_MASTER11_24music:before {
	content: "\e04c";
}
.icon-icons_MASTER11_23sponsorship:before {
	content: "\e04d";
}
.icon-icons_MASTER11_22sun:before {
	content: "\e04e";
}
.icon-icons_MASTER11_21sunnycloud:before {
	content: "\e04f";
}
.icon-icons_MASTER11_20moonnight:before {
	content: "\e050";
}
.icon-icons_MASTER11_19nightcloud:before {
	content: "\e051";
}
.icon-icons_MASTER11_18cloud:before {
	content: "\e052";
}
.icon-icons_MASTER11_17heavycloud:before {
	content: "\e053";
}
.icon-icons_MASTER11_16lightning:before {
	content: "\e054";
}
.icon-icons_MASTER11_15lightningheavycloud:before {
	content: "\e055";
}
.icon-icons_MASTER11_14rain:before {
	content: "\e056";
}
.icon-icons_MASTER11_13heavyrain:before {
	content: "\e057";
}
.icon-icons_MASTER11_12windy:before {
	content: "\e058";
}
.icon-icons_MASTER11_11windycloud:before {
	content: "\e059";
}
.icon-icons_MASTER11_10windycloudrain:before {
	content: "\e05a";
}
.icon-icons_MASTER11_09snowcloud:before {
	content: "\e05b";
}
.icon-icons_MASTER11_08heavysnowcloud:before {
	content: "\e05c";
}
.icon-icons_MASTER11_07hailcloud:before {
	content: "\e05d";
}
.icon-icons_MASTER11_06happy:before {
	content: "\e05e";
}
.icon-icons_MASTER11_05sad:before {
	content: "\e05f";
}
.icon-icons_MASTER11_04neutral:before {
	content: "\e060";
}
.icon-icons_MASTER11_03searchh:before {
	content: "\e061";
}
