.docs-bg-ghost {
  padding: 40px 20px;
}

.docs-bg-ghost.pink {
  background: #FF9CB2;
}

.docs-bg-ghost.orange {
  background: #FF6A58;
}

.docs-bg-ghost.red {
  background: #F32836;
}

.docs-bg-ghost.purple {
  background: #9958A6;
}

.docs-bg-ghost.blue {
  background: #00B3E7;
}

.docs-bg-ghost.aqua {
  background: #57D9D5;
}

.docs-bg-ghost.green {
  background: #A3D55F;
}

.docs-bg-ghost.yellow {
  background: #FFC845;
}

.docs-bg-ghost.grey {
  background: #CDC8C0;
}

.docs-bg-ghost.black {
  background: #1E1E1E;
}