/*
 * _badge.scss
 * Badge Component Variables
 * Author: A.Phipps
 * Last updated: 26th February 2015
 */

/* Variables for all breakpoints */
$badge--video--text : "VIDEO";
$badge--news--text : "NEWS";
$badge--event--text : "EVENT";
$badge--photo--text : "PHOTO";
$badge--photo--count-one--text : "1 Photo";
$badge--photo--count-two--text : "2 Photos";
$badge--photo--count-three--text : "3 Photos";

/* Variables for xs (and sm) breakpoints */
$badge-width--xs : 90px;
$badge-position-top--xs : 15px;
$badge-padding--xs : 12px;
$badge-border-top--xs : 40px;
$badge-border-right--xs : 20px;
$badge-font-size--xs : 16px;
$badge-line-height--xs : 16px;

/* Variables for md breakpoint */
$badge-width--md : 100px;
$badge-position-top--md : 20px;
$badge-border-top--md : 46px;
$badge-font-size--md : 20px;
$badge-line-height--md : 20px;

/* Variables for lg breakpoint */
$badge-width--lg : 110px;
$badge-border-top--lg : 50px;
$badge-font-size--lg : 22px;
$badge-line-height--lg : 22px;