/*
 * _esu-strip.scss
 * ESU Site Strip Settings
 * Author: J.Wang/J.Pitt
 * Last updated: 16th October 2014
 */
$esu-strip-submit-width : 80px;
$esu-strip-email-width-xs : 200px;
$esu-strip-email-width-sm : 180px;
$esu-strip-email-width-md : 240px;
$esu-strip-email-width-lg : 320px;
$esu-strip-title-width : 320px;

$esu-strip-padding-vertical: 35px;
$esu-strip-padding-horizon-sm: 30px;
$esu-strip-padding-horizon-md: 50px;
$esu-strip-padding-horizon-lg: 70px;

$esu-strip-icon-large-email-url: image-url("modules/esu/esuEmailIconLarge.png");
$esu-strip-icon-large-email-url-2x: image-url("modules/esu/esuEmailIconLarge@2x.png");
$esu-strip-icon-small-email-url: image-url("modules/esu/esuEmailIconSmall.png");
$esu-strip-icon-small-email-url-2x: image-url("modules/esu/esuEmailIconSmall@2x.png");

$esu-strip-icon-padding-top: 45px;
$esu-strip-icon-margin-bottom-xs: 18px;
$esu-strip-icon-margin-bottom-sm: 0;
$esu-strip-icon-width-xs: 100%;
$esu-strip-icon-height-xs: 42px;
$esu-strip-icon-width-sm-md: 50px;
$esu-strip-icon-height-sm-md: 35px;
$esu-strip-icon-width-lg: 62px;
$esu-strip-icon-height-lg: 42px;

$esu-strip-icon-thanks-width: 45px;
$esu-strip-icon-thanks-height: 45px;
$esu-strip-icon-thanks-font-size: 100px;
$esu-strip-icon-thanks-margin-bottom-xs: 16px;
 
$esu-strip-icon-width-sm: 50px;
$esu-strip-icon-width-md: 66px;
$esu-strip-icon-width-lg: 62px;
$esu-strip-intro-width-sm: 302px; 
$esu-strip-intro-width-md: 415px;
$esu-strip-intro-width-lg: 515px; 
$esu-strip-action-width-sm: 264px;
$esu-strip-action-width-md: 324px;
$esu-strip-action-width-lg: 402px;

$esu-strip-icon-email-width: 60px;
$esu-strip-icon-email-height: 40px;