/*
 * _ form--fundraiser-showcase.scss
 * Variables for Fundraiser Showcase Form Component
 * Author: A.Phipps
 * Last updated: 27th February 2015
 */

// Variables for Step 1 of the form
$fundraiser-showcase-intro-margin-bottom: 35px;
$fundraiser-showcase-uploader-margin-bottom: 60px;
$fundraiser-showcase-upload-button-margin-top: 12px;
$fundraiser-showcase-uploaded-file-height: 75px;
$fundraiser-showcase-uploaded-file-width: 100px;
$fundraiser-showcase-input-file-padding: 20px 0 0 120px;
$fundraiser-showcase-uploaded-file-border-bottom: 15px;
$fundraiser-showcase-uploaded-file-tablecell-padding: 0 20px;
$fundraiser-showcase-file-data-padding-top: 28px;
$fundraiser-showcase-file-data-padding-left: 20px;
$fundraiser-showcase-submit-button-margin-top: 40px;

//SM and above Step 1 variables
$fundraiser-showcase-upload-button-margin-top--sm: 12px;
$fundraiser-showcase-upload-button-margin-right--sm: 20px;
$fundraiser-showcase-button-width--sm: 110px;

// Variables for Step 2 of the form
$fundraiser-showcase-form-required-line-height: 18px;
$fundraiser-showcase-consent-margin-top: 35px;
$fundraiser-showcase-consent-checkbox-top: 4px;