/*
 * _form.scss
 * Form variables
 * Author: M.Wagg
 * Last updated: 10th September 2014
 */

/**
 * Basic form variables
 */

/* General */
$element-border:						1px solid $grey-light;
$focus-border:							2px solid $grey-light;
$border-colour:             $grey-light;
$element-width:							100%;
$element-height:						50px;
$radio-checkbox-height:			26px;
$radio-checkbox-width:			26px;
$text-link-color:						$grey-v-dark;
$icon-font-family:					'rnd-icons';
$address-btn:               $grey-dark;
$form-font:                 "Open Sans", Helvetica, Arial, Sans-serif;

/* Label */
$label-color:						#666;
$label-size: 						14px;
$label-asterisk-size: 	16px;
$label--asterisk-color:	$red-brand;
$weight:                normal;
$error:									$red-brand;

/* Dropkick */
$border-side:						1px solid $grey-light;

/* IE8 */
$payment-label-margin-lg-ie8: 50px; 
$payment-label-margin-md-ie8: 45px; 
$payment-label-margin-sm-ie8: 35px; 