/*
 * _pager.scss
 * Pager component variables
 *
 * Author: A.Phipps
 * Last updated: 16th February 2015
 */

$pager-item-width: 38px;
$pager-item-height: 38px;
$pager-item-font-size: 18px;

$pager-background-img-size: 38px 76px;
$pager-padding: 7px;

$pager-emphasis-font-weight: 600;

$pager-icon-font-position-top: -8px;
$pager-icon-font-position-left: -8px;

$pager-next-arrow-margin--xs: -95px;
$pager-prev-arrow-margin--xs: 10px;

$pager-item-padding: 7px 0 0 0;
$pager-item-margin: 0 10px;
