/*
 * _pane-fundraise.scss
 * Pane Fundraise copy padding and margin variables
 * Author: A.Phipps
 * Last updated: 19th January 2015
 */
 
$pane-fundraise--padding-top-md: 5%;
$pane-fundraise--padding-top-lg: 8%;
$pane-fundraise--margin-left: -2%;