/**
 * Slideshows
 */
/* Sizing */
$slideshow-base: 16px;
$slideshow-nav: 50px;
$slideshow-nav-w: 25px;

$slideshow-base-font-large: 35px;
$slideshow-nav-font-large: 90px;


/* Spacing */
$slideshow-base-vertical-xs-sm: 40px;
$slideshow-base-vertical-md-lg: 40px;

$slideshow-base-horizontal-xs-sm: 15px;
$slideshow-base-horizontal-md-lg: 30px;

$slideshow-nav-vertical: 50%;
$slideshow-nav-horizontal: 20px;