/*
 * _transition-flip--tool.scss
 * Fundraiser Tool Variable
 * Author: P.Brady
 * Last updated: 17th September 2014
 */

// Default variables
$transition-flip--tool-height:                 100%;
$transition-flip--tool-front-height:           100px;
$transition-flip--tool-front-padding:          0 14px;
$transition-flip--tool-front-line-height:      23px;
$transition-flip--tool-front-link-size:        14px;
$transition-flip--tool-back-padding:           0 14px;
$transition-flip--tool-back-line-height:       18px;
$transition-flip--tool-back-link-size:         14px;

// Variables for Small (sm)
$transition-flip--tool-height-sm:              344px;
$transition-flip--tool-front-height-sm:        100px;
$transition-flip--tool-front-padding-sm:       0 20px;
$transition-flip--tool-front-line-height-sm:   26px;
$transition-flip--tool-front-link-size-sm:     18px;
$transition-flip--tool-back-padding-sm:        0 20px;
$transition-flip--tool-back-line-height-sm:    18px;
$transition-flip--tool-back-link-size-sm:      14px;

// Variables for Medium (md)
$transition-flip--tool-height-md:              223px;
$transition-flip--tool-front-height-md:        72px;
$transition-flip--tool-front-padding-md:       0 14px;
$transition-flip--tool-front-line-height-md:   21px;
$transition-flip--tool-front-link-size-md:     14px;
$transition-flip--tool-back-padding-md:        0 14px;
$transition-flip--tool-back-line-height-md:    18px;
$transition-flip--tool-back-link-size-md:      14px;

// Variables for Large (lg)
$transition-flip--tool-height-lg:              279px;
$transition-flip--tool-front-height-lg:        100px;
$transition-flip--tool-front-padding-lg:       0 16px;
$transition-flip--tool-front-line-height-lg:   24px;
$transition-flip--tool-front-link-size-lg:     16px;
$transition-flip--tool-back-padding-lg:        0 16px;
$transition-flip--tool-back-line-height-lg:    18px;
$transition-flip--tool-back-link-size-lg:      14px;
